<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hbis.erp.modular.system.mapper.CrmResourceAllocationMapper">
    <select id="selSchedule" resultType="cn.hbis.erp.modular.system.entity.Allocation">
    select pzName pzName,
       case
         when sum(orderMount) is null then
          0
         else
          sum(orderMount)
       end yield,
       case
         when sum(planNum) is null then
          0
         else
          sum(planNum)
       end planNum,
       case
         when sum(planNum) = 0 then
          0
         when sum(orderMount) / sum(planNum) is null then
          0
         else

          ROUND(sum(orderMount) / sum(planNum) * 100, 2)

       END AS schedule
  from (select ht.pzName pzName,(case
                 when saleBody = '技术中心、事业部' or saleBody = '子公司其他' or saleBody = '现货' then
                  '子公司'
                 else
                  saleBody
               end) saleBody,
               sum(orderMount) orderMount,
               jh.hjjhl planNum
  from(
  select (case
                     when saleBody = '分公司' or saleBody = '专业公司' then
                      '销售总公司'
                     when saleBody = '事业部' or saleBody = '技术中心' then
                      '技术中心、事业部'
                     when saleBody = '子公司' or saleBody = '自办公司'then
                      '子公司其他'
                     else saleBody
                   end) saleBody,pzName,orderMount
  from(SELECT distinct svtp.variety      pzName,
                        xsztdzb.sale_body saleBody,
                        sso.ORDER_MOUNT   orderMount
          from scm_sale_order sso
         inner join scm_variety_to_pt_gp svtp
            on sso.company_id = svtp.company_id
           and sso.product_code = svtp.product_group
          left join (select a.*
                      from price_salebody_relation a
                     where a.is_delete = 0) xsztdzb
            ON sso.company_id = xsztdzb.company_id
           AND sso.sale_body = xsztdzb.sale_body_des

         WHERE 1 = 1
           and instr(sso.dj_date, #{date})>0
           and sso.order_type_describe not in
               (select distinct cfd.data_name
                  from crm_filter_data cfd
                 where cfd.data_type = '2'
                   and cfd.status = '0'
                   and cfd.company_id = sso.company_id)
           and sso.saler_name not in
               (select cfd.data_name
                  from crm_filter_data cfd
                 where cfd.data_type = '1'
                   and cfd.status = '0'
                   and cfd.company_id = sso.company_id)

           AND sso.sale_group NOT IN
               (SELECT cfd.data_name
                  FROM crm_filter_data cfd
                 WHERE cfd.company_id = sso.company_id
                   AND cfd.data_type = 9
                   AND cfd.status = 0)
           and xsztdzb.sale_body <![CDATA[ != ]]> '品种钢'
            <if test="flName != null and flName != ''">
                and xsztdzb.sale_body in (${flName})
            </if>
           )) ht
  left join (select PZ_NAME pzName,flName, sum(planNum) hjjhl

               from (SELECT distinct PZ_NAME, MAR_MONTH planNum,fl_Name flName
                       FROM crm_resource_allocation
                      where 1=1 and year = #{year}
                      )
              group by PZ_NAME,flName) jh
    on ht.pzName = jh.pzName and ht.saleBody = jh.flName
    group by ht.pzName,ht.saleBody, jh.hjjhl)
 group by pzName
order by decode(pzName,'热板',1,'冷板',2,'宽厚板',3,'棒线',4,'型带',5)
    </select>

    <select id="selScheduleByCx" resultType="cn.hbis.erp.modular.system.entity.Allocation">
        select * from (select ht.dName cxName,
        case when sum(orderMount) is null then 0 else sum(orderMount) end yield,
        CASE
        WHEN hjjhl IS NULL THEN
        0
        ELSE
        hjjhl
        END
        planNum,

        CASE
        WHEN sum(orderMount) / hjjhl IS NULL THEN
        0
        when hjjhl is null then 0
        ELSE

        ROUND (sum(orderMount) / hjjhl  *100, 2)

        END
        AS schedule
        from (SELECT distinct DATA.NAME dName,
        xsztdzb.sale_body saleBody,
        sso.ORDER_MOUNT   orderMount
        from scm_delivery_detail detail
        JOIN crm_resource_data DATA
        ON DATA.full_name = detail.ext
        AND DATA.company_id = detail.company_id
        AND DATA . TYPE = 3
        AND DATA.parent_name IS NOT NULL
        join scm_sale_order sso
        on detail.company_id = sso.company_id
        and detail.ORDER_NO = sso.order_no
        and detail.ORDER_ITEM = sso.order_row
        left join (select a.*
        from price_salebody_relation a
        where a.is_delete = 0) xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_body = xsztdzb.sale_body_des
        WHERE 1 = 1
        <if test="date != null and date != ''">
            and instr(sso.dj_date, #{date}) > 0
        </if>
        AND (detail.delivery_delete != 'X' OR
        detail.delivery_delete IS NULL)
        and sso.order_type_describe not in
        (select distinct cfd.data_name
        from crm_filter_data cfd
        where cfd.data_type = '2'
        and cfd.status = '0'
        and cfd.company_id = sso.company_id)
        and sso.saler_name not in
        (select cfd.data_name
        from crm_filter_data cfd
        where cfd.data_type = '1'
        and cfd.status = '0'
        and cfd.company_id = sso.company_id)

        AND sso.sale_group NOT IN
        (SELECT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 9
        AND cfd.status = 0)
        and xsztdzb.sale_body <![CDATA[ != ]]> '品种钢'
        ) ht
        left join (select cx_NAME,
        sum(planNum) hjjhl
        from (SELECT cx_NAME, MAR_MONTH planNum
        FROM crm_resource_allocation
        WHERE
        1=1
        <if test="year != null and year != ''">
            and YEAR = #{year}
        </if>
        )

        group by cx_NAME) jh
        on ht.dName = jh.cx_name
        group by ht.dName,hjjhl
        ORDER BY
        to_number(schedule) ${sort}
        )
        where
        rownum <![CDATA[   <=  ]]> 10
    </select>

    <select id="selCompany" resultType="cn.hbis.erp.modular.system.entity.Allocation">
      select * from(
        select NVL(decode(companyId,
                          9580,
                          '唐钢',
                          9727,
                          '邯钢',
                          9193,
                          '宣钢',
                          9196,
                          '承钢',
                          1932,
                          '舞钢',
                          8110,
                          '石钢',
                          8493,
                          '衡板',
                          7778,
                          '邯宝'),
                   '合计') companyName,
               case
                 when sum(orderMount) is null then
                  0
                 else
                  sum(orderMount)
               end yield,
               case when sum(planNum) is null then 0 else sum(planNum) end planNum,
                 case when sum(planNum) is null then 0 when sum(orderMount)/sum(planNum) is null then 0 else
                   ROUND (
                sum(orderMount)/sum(planNum) * 100,
                2
                ) end schedule
          from (select ht.companyId,
                       ht.dName,
                       jh.hjjhl planNum,
                       sum(ht.orderMount) orderMount

                  from (SELECT distinct DATA.NAME dName,
                                        case
                                          when sso.ORDER_MOUNT is null then
                                           0
                                          else
                                           sso.ORDER_MOUNT
                                        end orderMount,
                                        DATA.company_Id companyId,
                                        xsztdzb.sale_body saleBody
                          from scm_delivery_detail detail
                          JOIN crm_resource_data DATA
                            ON DATA.full_name = detail.ext
                           AND DATA.company_id = detail.company_id
                           AND DATA . TYPE = 3
                           AND DATA.parent_name IS NOT NULL
                          join scm_sale_order sso
                            on detail.company_id = sso.company_id
                           and detail.ORDER_NO = sso.order_no
                           and detail.ORDER_ITEM = sso.order_row
                          left join (select a.*
                                      from price_salebody_relation a
                                     where a.is_delete = 0) xsztdzb
                            ON sso.company_id = xsztdzb.company_id
                           AND sso.sale_body = xsztdzb.sale_body_des
                         WHERE 1 = 1
                           and instr(sso.dj_date, #{date}) > 0

                           AND (detail.delivery_delete != 'X' OR
                               detail.delivery_delete IS NULL)
                           and sso.order_type_describe not in
                               (select distinct cfd.data_name
                                  from crm_filter_data cfd
                                 where cfd.data_type = '2'
                                   and cfd.status = '0'
                                   and cfd.company_id = sso.company_id)
                           and sso.saler_name not in
                               (select cfd.data_name
                                  from crm_filter_data cfd
                                 where cfd.data_type = '1'
                                   and cfd.status = '0'
                                   and cfd.company_id = sso.company_id)

                           AND sso.sale_group NOT IN
                               (SELECT cfd.data_name
                                  FROM crm_filter_data cfd
                                 WHERE cfd.company_id = sso.company_id
                                   AND cfd.data_type = 9
                                   AND cfd.status = 0
                                   )
                                   and xsztdzb.sale_body <![CDATA[ != ]]> '品种钢') ht
                  left join (select CX_NAME cxName, sum(planNum) hjjhl
                              from (SELECT CX_NAME, MAR_MONTH planNum
                                      FROM crm_resource_allocation
                                     WHERE 1 = 1
                                       and YEAR = #{year}
                                       )
                             group by CX_NAME) jh
                    on ht.dName = jh.cxName
                 group by ht.companyId, ht.dName, jh.hjjhl)

         GROUP BY ROLLUP(companyId)
        )
      order by decode(companyName,'合计',1,'唐钢',2,'邯钢',3,'宣钢',4,'承钢',5,'舞钢',6)
    </select>
    <select id="selByCompany" resultType="cn.hbis.erp.modular.system.entity.Allocation">
                 select saleBody flName,
       case
         when sum(orderMount) is null then
          0
         else
          sum(orderMount)
       end yield,
       case
         when sum(planNum) is null then 0 else
          sum(planNum)
       end planNum,
       case
         when sum(planNum) = 0 or sum(planNum) is null then
          0
         when sum(orderMount) / sum(planNum) is null then
          0
         else
          round(sum(orderMount) / sum(planNum) * 100, 2)
       end schedule
  from (select (case
                when saleBody = '技术中心、事业部' or saleBody = '子公司其他' or saleBody = '现货' then
                '子公司'
                else
                saleBody
               end) saleBody,
               sum(orderMount) orderMount,
               jh.hjjhl planNum
          from (select (case
                        when saleBody = '分公司' or saleBody = '专业公司' then
                        '销售总公司'
                        when saleBody = '事业部' or saleBody = '技术中心' then
                        '技术中心、事业部'
                        when saleBody = '子公司' or saleBody = '自办公司'then
                        '子公司其他'
                        else saleBody
                       end) saleBody,dName,
                       sum(orderMount) orderMount
                  from (SELECT distinct
                  DATA.name dName,
                  xsztdzb.sale_body saleBody,
                                        sso.ORDER_MOUNT   orderMount
                          from scm_delivery_detail detail
                          JOIN crm_resource_data DATA
                            ON DATA.full_name = detail.ext
                           AND DATA.company_id = detail.company_id
                           AND DATA . TYPE = 3
                           AND DATA.parent_name IS NOT NULL
                          join scm_sale_order sso
                            on detail.company_id = sso.company_id
                           and detail.ORDER_NO = sso.order_no
                           and detail.ORDER_ITEM = sso.order_row
                          left join (select a.*
                                      from price_salebody_relation a
                                     where a.is_delete = 0) xsztdzb
                            ON sso.company_id = xsztdzb.company_id
                           AND sso.sale_body = xsztdzb.sale_body_des

                         WHERE 1 = 1
                           and instr(sso.dj_date, #{date }) > 0
                           AND (detail.delivery_delete != 'X' OR
                               detail.delivery_delete IS NULL)

                           and sso.order_type_describe not in
                               (select distinct cfd.data_name
                                  from crm_filter_data cfd
                                 where cfd.data_type = '2'
                                   and cfd.status = '0'
                                   and cfd.company_id = sso.company_id)
                           and sso.saler_name not in
                               (select cfd.data_name
                                  from crm_filter_data cfd
                                 where cfd.data_type = '1'
                                   and cfd.status = '0'
                                   and cfd.company_id = sso.company_id)

                           AND sso.sale_group NOT IN
                               (SELECT cfd.data_name
                                  FROM crm_filter_data cfd
                                 WHERE cfd.company_id = sso.company_id
                                   AND cfd.data_type = 9
                                   AND cfd.status = 0)
                           and xsztdzb.sale_body <![CDATA[ != ]]> '品种钢'
                            <if test="companyName != null and companyName != ''">
                                and detail.company_id = #{companyName}
                            </if>
                           )
                 group by saleBody,dName) ht
          left join (select flName, cxName,sum(planNum) hjjhl

                      from (SELECT MAR_MONTH planNum, fl_name flName,cx_name cxName
                              FROM crm_resource_allocation
                             where year = #{year}
                              )

                     group by flName,cxName) jh
            on ht.saleBody = jh.flname and ht.dName = jh.cxName
         group by saleBody, jh.hjjhl)
 group by saleBody
        order by decode(saleBody,'销售总公司',1,'子公司',2,'出口',3)
    </select>
</mapper>
