<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hbis.erp.modular.system.mapper.CrmResourceAllocationMapper">
    <select id="selSchedule" resultType="map">
        SELECT
        NVL (A .PZ_NAME, '合计') pzName,
        SUM(ss.fkimg) yield,
        SUM(A.planNum) planNum,
        CASE
        WHEN SUM (ss.fkimg) / SUM (A.planNum) IS NULL THEN
        '--'
        ELSE
        TO_CHAR (
        ROUND (
            SUM (ss.fkimg) / SUM (A.planNum),
            2
        )
        )
        END AS schedule
        FROM
        (
        SELECT DISTINCT
            PZ_NAME,
            (
                CASE
                WHEN #{month} = '01' THEN
                    JAN_MONTH
                WHEN #{month} = '02' THEN
                    FEB_MONTH
                WHEN #{month} = '03' THEN
                    MAR_MONTH
                WHEN #{month} = '04' THEN
                    APR_MONTH
                WHEN #{month} = '05' THEN
                    MAY_MONTH
                WHEN #{month} = '06' THEN
                    JUN_MONTH
                WHEN #{month} = '07' THEN
                    JUL_MONTH
                WHEN #{month} = '08' THEN
                    AUG_MONTH
                WHEN #{month} = '09' THEN
                    SEP_MONTH
                WHEN #{month} = '10' THEN
                    OCT_MONTH
                WHEN #{month} = '11' THEN
                    NOV_MONTH
                WHEN #{month} = '12' THEN
                    DEC_MONTH
                END
            ) planNum,
            CX_NAME
        FROM
            crm_resource_allocation
        WHERE
        1=1
        <if test="year != null and year != ''">
            and YEAR = #{year}
        </if>
        ) A
        LEFT JOIN (
        SELECT
        data.NAME dName,
        data.full_name fName,
        settle.fkimg fkimg
        FROM
        scm_steel_settle settle
        LEFT JOIN scm_delivery_detail detail ON settle.aubel = detail.order_no
        AND settle.aupos = detail.order_item
        LEFT JOIN crm_resource_data data ON data.name = detail.ext
        OR data.full_name = detail.ext
        AND data.TYPE = 3
        WHERE
        TO_CHAR (settle.FKDAT, 'YYYY-MM') = #{date}
        ) ss ON A.CX_NAME = ss.dName
        OR A.CX_NAME = ss.fName
        where
        1=1
        <if test="flName != null and flName != ''">
            and FL_NAME = #{flName}
        </if>
        GROUP BY
        ROLLUP (A.PZ_NAME)
    </select>

    <select id="selScheduleByCx" resultType="map">
        select *
        from (
        SELECT
        NVL (A .CX_NAME, '合计') cxName,
        SUM(ss.fkimg) yield,
        SUM(A.planNum) planNum,
        CASE
        WHEN SUM (ss.fkimg) / SUM (A.planNum) IS NULL THEN
        '--'
        ELSE
        TO_CHAR (
        ROUND (
        SUM (ss.fkimg) / SUM (A.planNum),
        2
        )
        )
        END AS schedule
        FROM
        (
        SELECT DISTINCT
        PZ_NAME,
        (
        CASE
        WHEN #{month} = '01' THEN
        JAN_MONTH
        WHEN #{month} = '02' THEN
        FEB_MONTH
        WHEN #{month} = '03' THEN
        MAR_MONTH
        WHEN #{month} = '04' THEN
        APR_MONTH
        WHEN #{month} = '05' THEN
        MAY_MONTH
        WHEN #{month} = '06' THEN
        JUN_MONTH
        WHEN #{month} = '07' THEN
        JUL_MONTH
        WHEN #{month} = '08' THEN
        AUG_MONTH
        WHEN #{month} = '09' THEN
        SEP_MONTH
        WHEN #{month} = '10' THEN
        OCT_MONTH
        WHEN #{month} = '11' THEN
        NOV_MONTH
        WHEN #{month} = '12' THEN
        DEC_MONTH
        END
        ) planNum,
        CX_NAME
        FROM
        crm_resource_allocation
        WHERE
        1=1
        <if test="year != null and year != ''">
            and YEAR = #{year}
        </if>
        ) A
        LEFT JOIN (
        SELECT
        data.NAME dName,
        data.full_name fName,
        settle.fkimg fkimg
        FROM
        scm_steel_settle settle
        LEFT JOIN scm_delivery_detail detail ON settle.aubel = detail.order_no
        AND settle.aupos = detail.order_item
        LEFT JOIN crm_resource_data data ON data.name = detail.ext
        OR data.full_name = detail.ext
        AND data.TYPE = 3
        WHERE
        TO_CHAR (settle.FKDAT, 'YYYY-MM') = #{date}
        ) ss ON A.CX_NAME = ss.dName
        OR A.CX_NAME = ss.fName
        GROUP BY
        ROLLUP (A.CX_NAME)
        ORDER BY schedule ${sort}
        )
        where
        rownum <![CDATA[   <=  ]]> 10
    </select>
</mapper>
