<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hbis.erp.modular.system.mapper.deliveryDetailMapper">






<select id="fhsjexcel" resultType="map">
    select last.actual_date actualDate,
           case
             when rpcl.product_grade is not null then
              rpcl.product_grade
             else
              '普材'
           end productGrade,
           nvl(last.saler_name,'-') salerName,
           nvl(last.order_type_num,'-') orderTypeNum,
           nvl(last.order_type_describe,'-')  orderTypeDescribe,
            nvl(last.priceType,'-') priceType,
            last.company_id companyId,
            nvl(last.sale_group,'-') saleGroup,
            nvl(last.destination_name,'-') destinationName,
            nvl(last.end_user,'-')  endUser,
            nvl(last.material_info,'-') materialInfo,
            nvl(last.deliv_numb,'-')  delivNumb,
            nvl(last.deliv_item,'-')  delivItem,
            nvl(last.order_no,'-') orderNo,
            nvl(last.order_row,'-') orderRow,
            decode(last.id, null, '未连接成功', '连接成功')  status,
            nvl(last.customer_sale_body,'-') customerSalebody,
            nvl(last.sale_body,'-') salebody,
            nvl(last.saleBody,'-') sessionBody,
            nvl(last.contract_no,'-') contractNo,
            nvl(last.product_type,'-') productType,
            nvl(last.dz_name,'-') dzName,
            nvl(last.transport_name,'-') transportName,
            nvl(last.dj_date,'-') djDate,
            nvl(last.product_code,'-') productCode,
            nvl(last.productLine,'-') productLine,
            nvl(last.ext,'-') ext,
            nvl(last.companyName,'-') companyName,
            nvl(last.variety,'-') variety,
            nvl(last.attribute1,'-') attribute1,
            nvl(last.attribute2,'-') attribute2,
            nvl(last.attribute9,'-') attribute9,
            nvl(last.attribute11,'-') attribute11,
            nvl(last.fare,'-') fare,
            nvl(last.jzbh,'-') jzbh,
            nvl(last.order_reason_name,'-') orderReasonName,
            nvl(last.order_note,'-') orderNote,
            nvl(last.order_mount,0) orderMount,
            nvl(last.sale_price,0) salePrice,
            nvl(last.total_weight,0) totalWeight,
            last.gmt_modify gmtModify
      from (select sso.id,
                   sdd.actual_date,
                   sdd.deliv_numb,
                   sdd.deliv_item,
                   sso.order_no,
                   sso.order_row,
                   sdd.total_weight,
                   sdd.company_id,
                   sso.saler_name,
                   sso.order_type_num,
                   sso.order_type_describe,
                   sso.sale_group,
                   sso.destination_name,
                   sso.end_user,
                   sso.material_info,
                   sso.customer_sale_body,
                   sso.sale_body,
                   sso.saleBody,
                   sso.contract_no,
                   sso.product_type,
                   sso.dz_name,
                   sso.transport_name,
                   sso.dj_date,
                   sso.product_code,
                   sdd.productLine,
                   sdd.ext,
                   sdd.companyName,
                   sdd.variety,
                   sdd.gmt_modify,
                   sso.attribute1,
                   sso.attribute2,
                   sso.attribute9,
                   sso.attribute11,
                   sso.fare,
                   sso.jzbh,
                   sso.order_reason_name,
                   sso.order_note,
                   sso.order_mount,
                   (select clcr.product_class
                      from CRM_LINE_CLASS_RELATION clcr
                     where clcr.company_name = sdd.companyName
                       and clcr.product_line = sdd.ext) as ProductLineClass,
                   sso.priceType,
                   sso.sale_price
              from (select dOrderNo,
                           dOrderItem,
                           deliv_numb,
                           deliv_item,
                           company_id,
                           companyName,
                           actual_date,
                           ext,
                           productLine,
                           variety,
                           gmt_modify,
                           total_weight
                      from (select max(sdd.order_no) as dOrderNo,
                                   max(sdd.order_item) as dOrderItem,
                                   sdd.deliv_numb,
                                   sdd.deliv_item,
                                   max(sdd.company_id) as company_id,
                                   max(sdd.companyName) as companyName,
                                   max(sdd.actual_date) as actual_date,
                                   max(sdd.ext) as ext,
                                   max(plnr.product_line_simplified_name) as productLine,
                                   max(plnr.variety) as variety,
                                   max(sdd.gmt_modify) as gmt_modify,
                                   sum(sdd.total_weight) as total_weight
                              from (select sdd.actual_date,
                                           sdd.deliv_numb,
                                           sdd.deliv_item,
                                           sdd.ext,
                                           sdd.gmt_modify,
                                           decode(sdd.company_id,
                                                  '9580',
                                                  '唐钢',
                                                  '9727',
                                                  '邯钢',
                                                  '9193',
                                                  '宣钢',
                                                  '9196',
                                                  '承钢',
                                                  '7778',
                                                  '邯宝',
                                                  '1932',
                                                  '舞钢',
                                                  '8110',
                                                  '石钢',
                                                  '8493',
                                                  '衡板') as companyName,
                                           sdd.total_weight,
                                           sdd.company_id,
                                           sdd.order_no,
                                           sdd.order_item
                                      from scm_delivery_detail sdd
                                     where (sdd.delivery_delete is null or
                                           sdd.delivery_delete != 'X')
                                       and sdd.ext is not null
                                        <if test="startTime2 != null and startTime2 !='' and endTime2 != null and endTime2 != ''">
                                            and (sdd.gmt_modify between to_date(#{startTime2}, 'yyyy-mm-dd') and to_date(#{endTime2}, 'yyyy-mm-dd'))
                                        </if>
                                        <if test="startTime1 != null and startTime1 !='' and endTime1 != null and endTime1 != ''">
                                            and (sdd.actual_date between to_date(#{startTime1}, 'yyyy-mm-dd') and to_date(#{endTime1}, 'yyyy-mm-dd'))
                                        </if>
                                        <if test="delivNumb != null and delivNumb!='' ">
                                            and sdd.deliv_numb = #{delivNumb}
                                        </if>
                                        <if test="delivItem != null and delivItem!='' ">
                                            and sdd.deliv_item = #{delivItem}
                                        </if>
                                        <if test="companyId != null and companyId!='' ">
                                            and sdd.company_id = #{companyId}
                                        </if>
                                  ) sdd
                              left join product_line_name_relation plnr
                                on sdd.ext = plnr.product_line_name
                             group by sdd.deliv_numb, sdd.deliv_item) sdd
                         <if test="variety != null and variety!='' ">
                            where sdd.variety = #{variety}
                         </if>
                  ) sdd
              left join (select sso.id,
                               sso.order_no,
                               sso.order_row,
                               sso.saler_name,
                               sso.order_type_num,
                               sso.order_type_describe,
                               sso.sale_group,
                               sso.destination_name,
                               sso.end_user,
                               sso.material_info,
                               sso.company_id,
                               sso.customer_sale_body,
                               sso.sale_body,
                               sso.contract_no,
                               sso.product_type,
                               sso.dz_name,
                               sso.transport_name,
                               sso.dj_date,
                               case
                                 when sso.company_id = '9196' then
                                  (select ppr.price_type
                                     from price_pricetype_relation ppr
                                    where ppr.order_data =
                                          substr(sso.contract_no, 11, 1)
                                      and ppr.company_id = sso.company_id)
                                 else
                                  (select ppr.price_type
                                     from price_pricetype_relation ppr
                                    where ppr.order_data = sso.order_type_describe
                                      and ppr.company_id = sso.company_id)
                               end priceType,
                               sso.product_code,
                               sso.attribute1,
                               sso.attribute2,
                               sso.attribute9,
                               sso.attribute11,
                               sso.fare,
                               sso.jzbh,
                               sso.order_reason_name,
                               sso.order_note,
                               sso.order_mount,
                               sso.sale_price,
                               ps.sale_body saleBody
                          from (select *
                                  from Scm_sale_order sso
                                 where (sso.deleted is null or sso.deleted != 'X')) sso
                          left join (select ps.company_id,
                                           ps.sale_body_des,
                                           ps.sale_body
                                      from price_salebody_relation ps
                                     where ps.is_delete = '3') ps
                            on ps.company_id = sso.company_id
                           and ps.sale_body_des = sso.sale_body) sso
                on sdd.dOrderNo = sso.order_no
               and sdd.dOrderItem = sso.order_row
               and sdd.company_id = sso.company_id
               and sso.id not in
                   (select sso.id
                      from (select distinct company_id, data_name
                              from crm_filter_data
                             where data_type in ('5', '1', '7', '9')
                               and status = '0') cfd
                     where sso.company_id = cfd.company_id
                       and (sso.saler_name = cfd.data_name OR
                           sso.order_type_describe = cfd.data_name or
                           sso.product_code = cfd.data_name or
                           sso.sale_group = cfd.data_name))) last
      left join (select rpcl.second_code,
                        rpcl.product_class,
                        rpcl.product_line_class,
                        rpcl.company_id,
                        max(rpcl.product_grade) product_grade
                   from REPORT_PRODUCT_CLASS_LEVEL rpcl
                  group by rpcl.second_code,
                           rpcl.product_class,
                           rpcl.product_line_class,
                           rpcl.company_id) rpcl
        on last.ProductLineClass = rpcl.product_line_class
       and last.company_id = rpcl.company_id
       and (last.product_type = rpcl.product_class OR
           last.product_type = rpcl.second_code)
</select>




</mapper>
