<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hbis.erp.modular.system.mapper.ProtocolAccountDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hbis.erp.modular.system.entity.ProtocolAccountDetails">
        <id column="PROTOCOL_ACCOUNT_ID" property="protocolAccountId"/>
        <result column="UPLOAD_TIME" property="uploadTime"/>
        <result column="PROTOCOL_YEAR" property="protocolYear"/>
        <result column="ACCOUNT_NAME" property="accountName"/>
        <result column="SUPPLY_MODE" property="supplyMode"/>
        <result column="VARIETIES" property="varieties"/>
        <result column="MAIN_SALES_REGIONAL" property="mainSalesRegional"/>
        <result column="AIDED_SALES_REGIONAL_ONE" property="aidedSalesRegionalOne"/>
        <result column="AIDED_SALES_REGIONAL_TWO" property="aidedSalesRegionalTwo"/>
        <result column="STEEL_MILLS" property="steelMills"/>
        <result column="ANNUAL_AGREEMENT_VOLUME" property="annualAgreementVolume"/>
        <result column="DELETESTATUS" property="deletestatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PROTOCOL_ACCOUNT_ID AS protocolAccountId, UPLOAD_TIME AS uploadTime, PROTOCOL_YEAR AS protocolYear, ACCOUNT_NAME AS accountName, SUPPLY_MODE AS supplyMode, VARIETIES AS varieties, MAIN_SALES_REGIONAL AS mainSalesRegional, AIDED_SALES_REGIONAL_ONE AS aidedSalesRegionalOne, AIDED_SALES_REGIONAL_TWO AS aidedSalesRegionalTwo, STEEL_MILLS AS steelMills, ANNUAL_AGREEMENT_VOLUME AS annualAgreementVolume, ANNUALAGREEMENTVOLUMETOTAL, ACCOUNTNAMECOUNT
    </sql>

    <select id="searchProtocolAccountDetailList" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from SCM_PROTOCOL_ACCOUNT_DETAILS, (SELECT sum(ANNUAL_AGREEMENT_VOLUME) AS ANNUALAGREEMENTVOLUMETOTAL, count(distinct ACCOUNT_NAME) AS ACCOUNTNAMECOUNT FROM SCM_PROTOCOL_ACCOUNT_DETAILS) where DELETESTATUS = '0'
        <if test="varieties != null and '热板' == varieties">
            and (VARIETIES = '热板' or VARIETIES = '酸洗')
        </if>
        <if test="varieties != null and '冷板' == varieties">
            and (VARIETIES = '彩涂' or VARIETIES = '冷板' or VARIETIES = '镀锌')
        </if>
        <if test="varieties != null and '宽厚板' == varieties">
            and VARIETIES = '宽厚板'
        </if>
        <if test="varieties != null and '棒线' == varieties">
            and (VARIETIES = '钢筋' or VARIETIES = '普线' or VARIETIES = '品种线' or VARIETIES = '优钢' or VARIETIES = '锚杆钢')
        </if>
        <if test="varieties != null and'型带' == varieties">
            and (VARIETIES = '角钢' or VARIETIES = '矿用钢')
        </if>
        <if test="beginTime != null and beginTime !='' and endTime != null and endTime != ''">
            and (UPLOAD_TIME between to_date(CONCAT(#{beginTime},' 00:00:00'), 'yyyy-mm-dd hh24:mi:ss') and to_date(CONCAT(#{endTime},' 23:59:59'), 'yyyy-mm-dd hh24:mi:ss'))
        </if>
        <if test="protocolYear != null and protocolYear !=''">
            and PROTOCOL_YEAR like CONCAT(CONCAT('%',#{protocolYear}),'%')
        </if>
        <if test="steelMills != null and steelMills !=''">
            and STEEL_MILLS like CONCAT(CONCAT('%',#{steelMills}),'%')
        </if>
        order  by  UPLOAD_TIME desc
    </select>


</mapper>
