<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hbis.erp.modular.system.mapper.ScmSteelSettleMapper">
    <select id="getcx" resultType="map">
        select companyname,
        company_id,
        a.NAME,
        fkimg,
        fgsfkimg,
        zyfkimg,
        zgsfkimg,
        pzgl,
        fkimg / pzgl bz,
        fgspzgl,
        zgspzgl,
        zypzgl,
        case when fgsfkimg=0 then 0 else fgsfkimg/fgspzgl end fgsbz,
        case when zyfkimg=0 then 0 else zyfkimg/zypzgl end zybz,
        case when zgsfkimg=0 then 0 else zgsfkimg/zgspzgl end zgsbz
        from (SELECT gs.COMPANY_NAME companyname,
        cx.NAME,
        zb.company_id,
        SUM(mx.fkimg) AS fkimg,
        sum(case
        when xszt.sale_body = '分公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as fgsfkimg,
        sum(case
        when xszt.sale_body = '专业公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as zyfkimg,
        sum(case
        when xszt.sale_body = '子公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as zgsfkimg
        FROM scm_company gs
        left join scm_steel_settle_main zb
        on gs.company_id = zb.company_id

        left join

        SCM_SETTLEMENT_DETAILS mx
        on zb.vbeln = mx.VBELN
        LEFT JOIN crm_resource_data cx
        on mx.cx_id = cx.code
        JOIN scm_sale_order sso
        ON sso.order_no = zb.aubel
        AND sso.company_id = zb.company_id

        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xszt
        on mx.XSZT_ID = xszt.ID
        where 1 = 1
        AND zb.fkdat   &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
        AND zb.fkdat   &lt;= to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
        <if test="cx != null">
            AND cx.NAME=#{cx}
        </if>
        <if test="dw != null">
            AND zb.company_id=#{dw}
        </if>

        GROUP BY gs.COMPANY_NAME, zb.company_id, cx.NAME
        ORDER BY company_id) a

        LEFT JOIN (select cx.name,
        sum(mx.fkimg)  pzgl,
        sum(case
        when xszt.sale_body = '分公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as fgspzgl,
        sum(case
        when xszt.sale_body = '专业公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as zypzgl,
        sum(case
        when xszt.sale_body = '子公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as zgspzgl
        from scm_steel_settle_main zb
        left join SCM_SETTLEMENT_DETAILS mx
        on zb.vbeln = mx.VBELN
        LEFT JOIN crm_resource_data cx
        on mx.cx_id = cx.code
        left join report_product_class_level pzg
        on mx.cpdj_id = pzg.id
        LEFT JOIN price_salebody_relation xszt
        on mx.XSZT_ID = xszt.ID
        WHERE (pzg.product_grade = '品种钢' OR pzg.product_grade = '高端产品' OR
        pzg.product_grade = '特色战略产品')

        group by cx.name) pz
        ON a.name = pz.name

    </select>


    <select id="getpz" resultType="map">
        select companyname,
        company_id,
        a.VARIETY,
        fkimg,
        fgsfkimg,
        zyfkimg,
        zgsfkimg,
        pzgl,
        fkimg / pzgl bz,
        fgspzgl,
        zgspzgl,
        zypzgl,
        case when fgsfkimg=0 then 0 else fgsfkimg/fgspzgl end fgsbz,
        case when zyfkimg=0 then 0 else zyfkimg/zypzgl end zybz,
        case when zgsfkimg=0 then 0 else zgsfkimg/zgspzgl end zgsbz
        from (SELECT gs.COMPANY_NAME companyname,
        pz.VARIETY,
        zb.company_id,
        SUM(mx.fkimg) AS fkimg,
        sum(case
        when xszt.sale_body = '分公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as fgsfkimg,
        sum(case
        when xszt.sale_body = '专业公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as zyfkimg,
        sum(case
        when xszt.sale_body = '子公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as zgsfkimg
        FROM scm_company gs
        left join scm_steel_settle_main zb
        on gs.company_id = zb.company_id

        left join

        SCM_SETTLEMENT_DETAILS mx
        on zb.vbeln = mx.VBELN
        LEFT JOIN scm_variety_to_pt_gp pz
        on mx.pz_id = pz.id
        JOIN scm_sale_order sso
        ON sso.order_no = zb.aubel
        AND sso.company_id = zb.company_id

        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xszt
        on mx.XSZT_ID = xszt.ID
        where 1 = 1
        AND zb.fkdat   &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
        AND zb.fkdat   &lt;= to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
        <if test="pz != null">
            AND  pz.VARIETY=#{pz}
        </if>

        GROUP BY gs.COMPANY_NAME, zb.company_id, pz.VARIETY
        ORDER BY company_id) a

        LEFT JOIN (select VARIETY,
        sum(mx.fkimg)  pzgl,
        sum(case
        when xszt.sale_body = '分公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as fgspzgl,
        sum(case
        when xszt.sale_body = '专业公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as zypzgl,
        sum(case
        when xszt.sale_body = '子公司' THEN
        to_number(mx.fkimg)
        ELSE
        0
        END) as zgspzgl
        from scm_steel_settle_main zb
        left join SCM_SETTLEMENT_DETAILS mx
        on zb.vbeln = mx.VBELN
        LEFT JOIN scm_variety_to_pt_gp pz
        on mx.pz_id = pz.id
        left join report_product_class_level pzg
        on mx.cpdj_id = pzg.id
        LEFT JOIN price_salebody_relation xszt
        on mx.XSZT_ID = xszt.ID
        WHERE (pzg.product_grade = '品种钢' OR pzg.product_grade = '高端产品' OR
        pzg.product_grade = '特色战略产品')

        group by pz.VARIETY) pz
        ON a.VARIETY = pz.VARIETY

    </select>


    <select id="getzrbm" resultType="map">
        select companyName,fkimg,pzgl,bz,mbl,pzgl/mbl,sx wc from
        (select *
        from (SELECT B.VARIETY || '公司'as companyName,
        SUM(settle.fkimg) AS fkimg,
        SUM(a.fkimg) AS pzgl,
        CASE
        WHEN SUM(settle.fkimg) / SUM(a.fkimg) IS NULL THEN
        '--'
        ELSE
        to_char(round(SUM(settle.fkimg) / SUM(a.fkimg), 2))
        END AS bz,
        '1' as sx
        FROM scm_steel_settle settle
        JOIN scm_sale_order sso
        ON sso.order_no = settle.aubel
        AND sso.company_id = settle.company_id
        JOIN scm_variety_to_pt_gp B
        ON sso.product_code = B.product_group
        and sso.company_id = B.company_id
        LEFT JOIN (SELECT settle.ID, settle.fkimg
        FROM scm_steel_settle settle
        JOIN scm_sale_order sso
        ON sso.order_no = settle.aubel
        AND sso.company_id = settle.company_id
        JOIN report_product_class_level pzg
        ON sso.company_id = pzg.company_id
        AND sso.product_type = pzg.product_class
        WHERE pzg.product_grade = '品种钢'
        OR pzg.product_grade = '高端产品'
        OR pzg.product_grade = '特色战略产品'
        AND pzg.status = '0') a
        ON settle.ID = a.ID
        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_group = xsztdzb.sale_body_des
        where  settle.fkdat   &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
        AND settle.fkdat   &lt;= to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
        <!--AND <![CDATA[ xsztdzb.sale_body_des ='唐钢中厚板公司' ]]>-->
        <!--AND <![CDATA[ xsztdzb.sale_body_des ='唐钢不锈钢公司' ]]>-->
        <!--AND <![CDATA[ xsztdzb.sale_body ='出口' ]]>-->
        <!--AND <![CDATA[ xsztdzb.sale_body_des ='唐银联营公司数据' ]]>-->
        GROUP BY B.VARIETY

        union all
        select decode(settle.COMPANY_ID,
        9580,
        '唐钢分公司',
        9727,
        '邯钢分公司',
        9193,
        '宣钢分公司',
        9196,
        '承钢分公司',
        1932,
        '舞钢分公司',
        7778,
        '邯宝分公司') as companyName,
        sum(settle.fkimg) as fkimg,
        sum(a.fkimg) as pzgl,
        case
        when sum(settle.fkimg) / sum(a.fkimg) is null then
        '--'
        else
        to_char(round(sum(settle.fkimg) / sum(a.fkimg), 2))
        end as bz,
        '2' as sx
        from scm_steel_settle settle
        join scm_delivery_detail detail
        on settle.aubel = detail.order_no
        and settle.aupos = detail.order_item
        join scm_sale_order sso
        on sso.order_no = settle.aubel
        and sso.company_id = settle.company_id
        left join (select settle.id, settle.fkimg
        from scm_steel_settle settle
        join scm_sale_order sso
        on sso.order_no = settle.aubel
        and sso.company_id = settle.company_id
        join report_product_class_level pzg
        on sso.company_id = pzg.company_id
        and sso.product_type = pzg.product_class
        where pzg.PRODUCT_GRADE = '品种钢'
        or pzg.PRODUCT_GRADE = '高端产品'
        or pzg.PRODUCT_GRADE = '特色战略产品'
        and pzg.status = '0') a
        on settle.id = a.id
        inner join scm_variety_to_pt_gp svtpg
        on sso.product_code = svtpg.product_group
        and sso.company_id = svtpg.company_id
        and sso.order_type_describe not in
        (select distinct cfd.data_name
        from crm_filter_data cfd
        where cfd.data_type = '2'
        and cfd.company_id = sso.company_id
        and cfd.status = '0')
        AND (sso.deleted is null or sso.deleted != 'X')
        and sso.sale_group not in
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        where cfd.company_id = sso.company_id
        and cfd.data_type = 8
        and cfd.status = 0)
        and sso.saler_name not in
        (select t.data_name
        from crm_filter_data t
        where t.data_type = '1'
        and t.status = '0'
        and t.company_id = sso.company_Id)
        left join price_salebody_relation xsztdzb
        on sso.COMPANY_ID = xsztdzb.COMPANY_ID
        and sso.sale_group = xsztdzb.sale_body_des
        <!--AND <![CDATA[ xsztdzb.sale_body_des ='唐钢中厚板公司' ]]>-->
        <!--AND <![CDATA[ xsztdzb.sale_body_des ='唐钢不锈钢公司' ]]>-->
        <!--AND <![CDATA[ xsztdzb.sale_body ='出口' ]]>-->
        <!--AND <![CDATA[ xsztdzb.sale_body_des ='唐银联营公司数据' ]]>-->
        where
        settle.COMPANY_ID = '9580'
        or settle.COMPANY_ID = '9727'
        or settle.COMPANY_ID = '9193'
        or settle.COMPANY_ID = '9196'
        or settle.COMPANY_ID = '1932'
        or settle.COMPANY_ID = '1778'

        AND settle.fkdat   &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
        AND settle.fkdat   &lt;= to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
        <!-- where xsztdzb.sale_body='专业公司'-->


        group by settle.COMPANY_ID
        union all
        select decode(settle.COMPANY_ID, 8110, '石钢公司', 8493, '衡板公司') as companyName,
        sum(settle.fkimg) as fkimg,
        sum(a.fkimg) as pzgl,
        case
        when sum(settle.fkimg) / sum(a.fkimg) is null then
        '--'
        else
        to_char(round(sum(settle.fkimg) / sum(a.fkimg), 2))
        end as bz,
        '3' as sx
        from scm_steel_settle settle
        join scm_delivery_detail detail
        on settle.aubel = detail.order_no
        and settle.aupos = detail.order_item
        join scm_sale_order sso
        on sso.order_no = settle.aubel
        and sso.company_id = settle.company_id
        left join (select settle.id, settle.fkimg
        from scm_steel_settle settle
        join scm_sale_order sso
        on sso.order_no = settle.aubel
        and sso.company_id = settle.company_id
        join report_product_class_level pzg
        on sso.company_id = pzg.company_id
        and sso.product_type = pzg.product_class
        where pzg.PRODUCT_GRADE = '品种钢'
        or pzg.PRODUCT_GRADE = '高端产品'
        or pzg.PRODUCT_GRADE = '特色战略产品'
        and pzg.status = '0') a
        on settle.id = a.id
        inner join scm_variety_to_pt_gp svtpg
        on sso.product_code = svtpg.product_group
        and sso.company_id = svtpg.company_id
        and sso.order_type_describe not in
        (select distinct cfd.data_name
        from crm_filter_data cfd
        where cfd.data_type = '2'
        and cfd.company_id = sso.company_id
        and cfd.status = '0')
        AND (sso.deleted is null or sso.deleted != 'X')
        and sso.sale_group not in
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        where cfd.company_id = sso.company_id
        and cfd.data_type = 8
        and cfd.status = 0)
        and sso.saler_name not in
        (select t.data_name
        from crm_filter_data t
        where t.data_type = '1'
        and t.status = '0'
        and t.company_id = sso.company_Id)
        left join price_salebody_relation xsztdzb
        on sso.COMPANY_ID = xsztdzb.COMPANY_ID
        and sso.sale_group = xsztdzb.sale_body_des
        <!--AND <![CDATA[ xsztdzb.sale_body_des ='唐钢中厚板公司' ]]>-->
        <!--AND <![CDATA[ xsztdzb.sale_body_des ='唐钢不锈钢公司' ]]>-->
        <!--AND <![CDATA[ xsztdzb.sale_body ='出口' ]]>-->
        <!--AND <![CDATA[ xsztdzb.sale_body_des ='唐银联营公司数据' ]]>-->
        <!-- where xsztdzb.sale_body='专业公司'-->
        where settle.COMPANY_ID = '8110'
        or settle.COMPANY_ID = '8493'
        AND settle.fkdat   &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
        AND settle.fkdat   &lt;= to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
        group by settle.COMPANY_ID) c
        left join
        (select
        SAU.ACCOUNTABILITY_UNIT_NAME zrbm,
        JANUARY +
        FEBRUARY +
        MARCH +
        APRIL +
        MAY +
        JUNE +
        JULY +
        AUGUST +
        SEPTEMBER +
        OCTOBER +
        NOVEMBER +
        DECEMBER mbl
        from SCM_ACCOUNTABILITY_UNIT_MANAGE SAU
        LEFT JOIN SCM_TARGET_QUANTITY_MANAGEMENT SQM
        on SAU.ACCOUNTABILITY_UNIT_CODE = SQM.RESPONSIBILITY_UNIT
        where SQM.DELETESTATUS='0') mb
        on mb.zrbm = c.companyName ) order by sx
    </select>


    <select id="getjszl" resultType="map">
        SELECT decode(settle.company_id,
        9580,
        '唐钢',
        9727,
        '邯钢',
        9193,
        '宣钢',
        9196,
        '承钢',
        1932,
        '舞钢',
        8110,
        '石钢',
        8493,
        '衡板',
        7778,
        '邯宝') AS companyname,
        settle.company_id,
        round(SUM(settle.fkimg),2),
        SUM(KZWI6) AS jsjg,
        round(SUM(KZWI6)/SUM(settle.fkimg),2) jsjj
        FROM scm_steel_settle settle
        left JOIN scm_delivery_detail detail
        ON settle.aubel = detail.order_no
        AND settle.aupos = detail.order_item
        JOIN scm_sale_order sso
        ON sso.order_no = settle.aubel
        AND sso.company_id = settle.company_id
        GROUP BY settle.company_id
        ORDER BY company_id
    </select>

    <select id="getpzjszl" resultType="map">
         SELECT
            B.VARIETY,
            round(SUM(settle.fkimg),2) jsl,
            SUM(KZWI6) AS jsjg,
            round(SUM(KZWI6)/SUM(settle.fkimg),2) jsjj
            FROM scm_steel_settle settle
            JOIN scm_sale_order sso
            ON sso.order_no = settle.aubel
            AND sso.company_id = settle.company_id
            JOIN scm_variety_to_pt_gp B
            ON sso.product_code = B.product_group
            and sso.company_id = B.company_id
            where settle.fkdat   &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
            AND settle.fkdat   &lt;= to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
            group by  B.VARIETY
    </select>

    <select id="getpzgjswc" resultType="map">
   select * from (select name ,jsl,round(nmb/jsl*100,2) || '%' wcl from (
            SELECT
            B.VARIETY name,

            round(SUM(mx.fkimg),2) jsl
            from scm_steel_settle_main zb

            left join

            SCM_SETTLEMENT_DETAILS mx
            on zb.vbeln = mx.VBELN
             LEFT JOIN scm_variety_to_pt_gp B
            on mx.pz_id = B.id

            group by  B.VARIETY ) a


            left join (select pz_name,sum(MBL_YEAR) nmb from crm_resource_allocation zyjh where 1=1 group by pz_name) jh
            on jh.pz_name= a.name
            )a

             LEFT JOIN (SELECT  B.VARIETY, sum(settle.fkimg) pzgl
            FROM scm_steel_settle settle
            JOIN scm_sale_order sso
            ON sso.order_no = settle.aubel
            AND sso.company_id = settle.company_id
            JOIN scm_variety_to_pt_gp B
            ON sso.product_code = B.product_group
            and sso.company_id = B.company_id
            JOIN report_product_class_level pzg
            ON sso.company_id = pzg.company_id
            AND sso.product_type = pzg.product_class
            WHERE (pzg.product_grade = '品种钢'
            OR pzg.product_grade = '高端产品'
            OR pzg.product_grade = '特色战略产品' )
            AND settle.fkdat   &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
            AND settle.fkdat   &lt;= to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
            AND pzg.status = '0'  group by  B.VARIETY) pz
            ON a.name = pz.VARIETY

   </select>

    <select id="getzgsjswc" resultType="map">
       select companyname name ,sum(fkimg) jsl,sum(mb) mb,sum(fkimg)/sum(mb) wcl from (
        select* from
        (SELECT decode(zb.company_id,
        9580,
        '唐钢',
        9727,
        '邯钢',
        9193,
        '宣钢',
        9196,
        '承钢',
        1932,
        '舞钢',
        8110,
        '石钢',
        8493,
        '衡板',
        7778,
        '邯宝') AS companyname,
        cx.NAME,
        zb.company_id,
        sum(mx.fkimg) AS fkimg
        from scm_steel_settle_main zb

        left join
        SCM_SETTLEMENT_DETAILS mx
        on zb.vbeln = mx.VBELN
        LEFT JOIN crm_resource_data cx
        on mx.cx_id = cx.code
        where zb.fkdat   &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
        AND zb.fkdat   &lt;= to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
        group by zb.company_id,cx.NAME
       )a
        left join (select cx_name, sum(MBL_YEAR) mb from crm_resource_allocation group by cx_name) b on b.cx_name=a.NAME ) group by  companyname
</select>

    <select id="getzyjh" resultType="map">
            select *
  from (select '1' yf，year || '1月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(JAN_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name
        union all
        select '2' yf，year || '2月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(FEB_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name
        union all
        select '3' yf，year || '3月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(MAR_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name
        union all
        select '4' yf，year || '4月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(APR_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name
        union all
        select '5' yf，year || '5月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(MAY_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name
        union all
        select '6' yf，year || '6月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(JUN_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name
        union all
        select '7' yf，year || '7月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(JUL_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name
        union all
        select '8' yf，year || '8月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(AUG_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name
        union all
        select '9' yf，year || '9月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(SEP_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name
        union all
        select '10' yf，year || '10月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(OCT_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name
        union all
        select '11' yf，year || '11月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(NOV_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name
        union all
        select '12' yf，year || '12月' rq，PZ_NAME pz,
               cx_name cx,
               fl_name,
               sum(DEC_MONTH) jhl
          from crm_resource_allocation
         group by year, PZ_NAME, cx_name, fl_name) a

 where rq like  '%'||#{nf}||'%'
        <if test="yf != ''">
           and yf = #{yf}
         </if>
        <if test="pz != ''">
           and pz = #{pz}
        </if>
        <if test="cx != ''">
        and cx = #{cx}
        </if>
        <if test="xszt != ''">
        and fl_name = #{xszt}
        </if>
    </select>


    <select id="getzyjhcxtjpz" resultType="map">
        select distinct pz_name pz
        from crm_resource_allocation pz_name
    </select>

    <select id="getzyjhcxtjcx" resultType="map">
        select distinct cx_name cx
        from crm_resource_allocation
        <if test="pz != ''">
            where pz_name = #{pz}
        </if>
    </select>

    <select id="getzyjhcxtjxszt" resultType="map">
        select distinct fl_name xszt
        from crm_resource_allocation pz_name
    </select>

    <select id="getpzhtjd" resultType="map">
        select * from( select VARIETY,zhtl,zjhl,zhtl/zjhl zwcbl from (SELECT
        pz.VARIETY,
        sum(sso.ORDER_MOUNT) zhtl
        from  scm_steel_settle_main zb

        left join
        SCM_SETTLEMENT_DETAILS mx
        on zb.vbeln = mx.VBELN
        LEFT JOIN scm_variety_to_pt_gp pz
        on mx.pz_id = pz.id
        JOIN scm_sale_order sso
        ON sso.order_no = zb.aubel
        AND sso.company_id = zb.company_id
        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_group = xsztdzb.sale_body_des
        where settle.fkdat   &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
        AND settle.fkdat   &lt;= to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
        <if test="pz != ''">
            and pz.VARIETY =#{pz}
        </if>

        group by pz.VARIETY)a
        join (select pz_name, sum(JAN_MONTH) zjhl from crm_resource_allocation group by pz_name) b on b.pz_name=a.VARIETY)a
        left join (select a.VARIETY,zyhtl,zyjhl,zyhtl/zyjhl zywcbl,htl,zyhtl-zyjhl as zyjd  from (SELECT
        pz.VARIETY,
        sum(sso.ORDER_MOUNT) zyhtl
        from  scm_steel_settle_main zb

        left join
        SCM_SETTLEMENT_DETAILS mx
        on zb.vbeln = mx.VBELN
        LEFT JOIN scm_variety_to_pt_gp pz
        on mx.pz_id = pz.id
        JOIN scm_sale_order sso
        ON sso.order_no = zb.aubel
        AND sso.company_id = zb.company_id
        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_group = xsztdzb.sale_body_des
        where xsztdzb.sale_body_des='专业公司'
        group by pz.VARIETY )a
        join
        (select pz_name, sum(JAN_MONTH) zyjhl
        from crm_resource_allocation
        where fl_name='销售总公司' group by pz_name) b on b.pz_name=a.VARIETY

        join (SELECT
        pz.VARIETY,
        sum(sso.ORDER_MOUNT) htl
        from  scm_steel_settle_main zb

        left join
        SCM_SETTLEMENT_DETAILS mx
        on zb.vbeln = mx.VBELN
        LEFT JOIN scm_variety_to_pt_gp pz
        on mx.pz_id = pz.id
        JOIN scm_sale_order sso
        ON sso.order_no = zb.aubel
        AND sso.company_id = zb.company_id
        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_group = xsztdzb.sale_body_des
        where xsztdzb.sale_body_des='分公司'
        group by pz.VARIETY )c on a.VARIETY=c.VARIETY) b on a.VARIETY = b.VARIETY


        left join (select a.VARIETY,zgshtl,zgsjhl,zgshtl/zgsjhl zgswcbl，zgshtl- zgsjhl as zgsjd from (SELECT
        pz.VARIETY,
        sum(sso.ORDER_MOUNT) zgshtl
        from  scm_steel_settle_main zb

        left join
        SCM_SETTLEMENT_DETAILS mx
        on zb.vbeln = mx.VBELN
        LEFT JOIN scm_variety_to_pt_gp pz
        on mx.pz_id = pz.id
        JOIN scm_sale_order sso
        ON sso.order_no = zb.aubel
        AND sso.company_id = zb.company_id
        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_group = xsztdzb.sale_body_des
        where xsztdzb.sale_body_des='子公司'
        or xsztdzb.sale_body_des='技术公司'
        or xsztdzb.sale_body_des='事业部'
        group by pz.VARIETY )a
        join
        (select pz_name, sum(JAN_MONTH) zgsjhl
        from crm_resource_allocation
        where fl_name='子公司' or fl_name='技术公司' or fl_name ='事业部' group by pz_name) b
        on b.pz_name=a.VARIETY) c on a.VARIETY=c.VARIETY
        left join ( select a.VARIETY,ckhtl,ckjhl,ckhtl/ckjhl ckwcbl，ckhtl- ckjhl as ckjd from (SELECT
        pz.VARIETY,
        sum(sso.ORDER_MOUNT) ckhtl
        from  scm_steel_settle_main zb

        left join
        SCM_SETTLEMENT_DETAILS mx
        on zb.vbeln = mx.VBELN
        LEFT JOIN scm_variety_to_pt_gp pz
        on mx.pz_id = pz.id
        JOIN scm_sale_order sso
        ON sso.order_no = zb.aubel
        AND sso.company_id = zb.company_id
        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_group = xsztdzb.sale_body_des
        where xsztdzb.sale_body_des='出口'
        group by pz.VARIETY )a
        join
        (select pz_name, sum(JAN_MONTH) ckjhl
        from crm_resource_allocation
        where fl_name='出口' group by pz_name) b
        on b.pz_name=a.VARIETY) d on a.VARIETY=d.VARIETY
    </select>

    <select id="getcxhtjd" resultType="map">
   select * from(select name,zhtl,zjhl,zhtl/zjhl zwcbl from (SELECT
        DATA.NAME,
        sum(sso.ORDER_MOUNT) zhtl
        FROM scm_steel_settle settle
        JOIN scm_delivery_detail detail
        ON settle.aubel = detail.order_no
        AND settle.aupos = detail.order_item
        JOIN crm_resource_data DATA
        ON DATA.full_name = detail.ext
        AND DATA.TYPE = 3
        AND DATA.parent_name IS NOT NULL
        JOIN scm_sale_order sso
        ON sso.order_no = settle.aubel
        AND sso.company_id = settle.company_id
        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_group = xsztdzb.sale_body_des
        where settle.fkdat   &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
        AND settle.fkdat   &lt;= to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
        <if test="cx != ''">
        and DATA.NAME =#{cx}
        </if>
        group by DATA.NAME )a
        join (select cx_name, sum(JAN_MONTH) zjhl from crm_resource_allocation group by cx_name) b on b.cx_name=a.NAME)a
        left join (select a.name,zyhtl,zyjhl,zyhtl/zyjhl wcbl,zyhtl- zyjhl as jd,htl from
       (SELECT
        DATA.name,
        sum(sso.ORDER_MOUNT) zyhtl
       FROM scm_steel_settle settle
        JOIN scm_delivery_detail detail
        ON settle.aubel = detail.order_no
        AND settle.aupos = detail.order_item
        JOIN crm_resource_data DATA
        ON DATA.full_name = detail.ext
        AND DATA.TYPE = 3
        AND DATA.parent_name IS NOT NULL
        JOIN scm_sale_order sso
        ON sso.order_no = settle.aubel
        AND sso.company_id = settle.company_id
        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_group = xsztdzb.sale_body_des
        where xsztdzb.sale_body_des='专业公司'
        group by DATA.name )a
        join
        (select cx_name, sum(JAN_MONTH) zyjhl
        from crm_resource_allocation
        where fl_name='销售总公司' group by cx_name) b
        on b.cx_name=a.name
        join (SELECT
        DATA.name,
        sum(sso.ORDER_MOUNT) htl
       FROM scm_steel_settle settle
        JOIN scm_delivery_detail detail
        ON settle.aubel = detail.order_no
        AND settle.aupos = detail.order_item
        JOIN crm_resource_data DATA
        ON DATA.full_name = detail.ext
        AND DATA.TYPE = 3
        AND DATA.parent_name IS NOT NULL
        JOIN scm_sale_order sso
        ON sso.order_no = settle.aubel
        AND sso.company_id = settle.company_id
        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_group = xsztdzb.sale_body_des
        where xsztdzb.sale_body_des='分公司'
        group by DATA.name) c   on a.name=c.name) b on a.name = b.name
        left join (select a.name,zgshtl,zgsjhl,zgshtl/zgsjhl zgswcbl,zgshtl- zgsjhl as zgsjd from
        (SELECT
        DATA.name,
        sum(sso.ORDER_MOUNT) zgshtl
        FROM scm_steel_settle settle
        JOIN scm_delivery_detail detail
        ON settle.aubel = detail.order_no
        AND settle.aupos = detail.order_item
        JOIN crm_resource_data DATA
        ON DATA.full_name = detail.ext
        AND DATA.TYPE = 3
        AND DATA.parent_name IS NOT NULL
        JOIN scm_sale_order sso
        ON sso.order_no = settle.aubel
        AND sso.company_id = settle.company_id
        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_group = xsztdzb.sale_body_des
        where xsztdzb.sale_body_des='子公司'
        or xsztdzb.sale_body_des='技术公司'
        or xsztdzb.sale_body_des='事业部'
        group by DATA.name )a
        join
        (select cx_name, sum(JAN_MONTH) zgsjhl
        from crm_resource_allocation
        where  fl_name='子公司' or fl_name='技术公司' or fl_name ='事业部' group by cx_name) b
        on b.cx_name=a.name) c on a.name=c.name
        left join (select a.name,ckhtl,ckjhl,ckhtl/ckjhl ckwcbl,ckhtl- ckjhl as ckjd from
        (SELECT
        DATA.name,
        sum(sso.ORDER_MOUNT) ckhtl
        FROM scm_steel_settle settle
        JOIN scm_delivery_detail detail
        ON settle.aubel = detail.order_no
        AND settle.aupos = detail.order_item
        JOIN crm_resource_data DATA
        ON DATA.full_name = detail.ext
        AND DATA.TYPE = 3
        AND DATA.parent_name IS NOT NULL
        JOIN scm_sale_order sso
        ON sso.order_no = settle.aubel
        AND sso.company_id = settle.company_id
        INNER JOIN scm_variety_to_pt_gp svtpg
        ON sso.product_code = svtpg.product_group
        AND sso.company_id = svtpg.company_id
        AND sso.order_type_describe NOT IN
        (SELECT DISTINCT cfd.data_name
        FROM crm_filter_data cfd
        WHERE cfd.data_type = '2'
        AND cfd.company_id = sso.company_id
        AND cfd.status = '0')
        AND (sso.deleted IS NULL OR sso.deleted != 'X')
        AND sso.sale_group NOT IN
        (SELECT sso.sale_group
        FROM crm_filter_data cfd
        WHERE cfd.company_id = sso.company_id
        AND cfd.data_type = 8
        AND cfd.status = 0)
        AND sso.saler_name NOT IN
        (SELECT t.data_name
        FROM crm_filter_data t
        WHERE t.data_type = '1'
        AND t.status = '0'
        AND t.company_id = sso.company_id)
        LEFT JOIN price_salebody_relation xsztdzb
        ON sso.company_id = xsztdzb.company_id
        AND sso.sale_group = xsztdzb.sale_body_des
        where xsztdzb.sale_body_des='出口'
        group by DATA.name )a
        join
        (select cx_name, sum(JAN_MONTH) ckjhl
        from crm_resource_allocation
        where  fl_name='出口'  group by cx_name) b
        on b.cx_name=a.name) d on a.name=d.name
    </select>



</mapper>
