<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hbis.erp.modular.system.mapper.TargetQuantityManagementMapper">

    <sql id="Base_Column_List">
        TQ.TARGET_QUANTITY_MANAGEMENT_ID AS ID,TQ."YEAR",AM.ACCOUNTABILITY_UNIT_NAME AS "NAME" ,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER
    </sql>
    <select id="selTargetManagement" parameterType="String" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from SCM_TARGET_QUANTITY_MANAGEMENT TQ
        LEFT JOIN
        SCM_ACCOUNTABILITY_UNIT_MANAGE AM
        ON
        AM.ACCOUNTABILITY_UNIT_CODE = TQ.RESPONSIBILITY_UNIT
        where TQ.DELETESTATUS = '0'
        AND AM.DELETESTATUS = '0'
        <if test="targetname != null and targetname !=''">

            and RESPONSIBILITY_UNIT like CONCAT(CONCAT('%',#{targetname}),'%')

        </if>
        <if test="year != null and year !=''">

            and YEAR like CONCAT(CONCAT('%',#{year}),'%')

        </if>
    </select>
	<select id="getlist" resultType="map">
		select sa.ACCOUNTABILITY_UNIT_CODE code,sa.ACCOUNTABILITY_UNIT_NAME NAME
		from SCM_ACCOUNTABILITY_UNIT_MANAGE  sa
		WHERE sa.DELETESTATUS = '0'
	</select>
	<select id="selectscaaccnuitList" resultType="map">
        select ACCOUNTABILITY_UNIT_ID AS ID,ACCOUNTABILITY_UNIT_CODE AS CODE,ACCOUNTABILITY_UNIT_NAME AS "NAME"
        from SCM_ACCOUNTABILITY_UNIT_MANAGE
        where DELETESTATUS = '0'
    </select>
	<select id="theList" resultType="map">
        select RESPONSIBILITY_UNIT AS CODE
        from SCM_TARGET_QUANTITY_MANAGEMENT
        where DELETESTATUS = '0' ORDER BY RESPONSIBILITY_UNIT
    </select>
	<select id="typeselect" resultType="map">
		SELECT
		"NAME",
		jsl,
		pzgl,
		ROUND(nmb / jsl,4)*100  bili
		FROM
		(
		SELECT
		B.VARIETY NAME,
		SUM (pz.fkimg) pzgl,
		ROUND (SUM(settle.fkimg), 2) jsl
		FROM
		Scm_Steel_Settle settle
		JOIN Scm_Sale_Order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN SCM_VARIETY_TO_PT_GP B ON sso.product_code = B.Product_Group
		AND sso.company_id = B.COMPANY_ID
		LEFT JOIN (
		SELECT
		settle. ID,
		settle.fkimg
		FROM
		scm_steel_settle settle
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN report_product_class_level pzg ON sso.company_id = pzg.company_id
		AND sso.product_type = pzg.product_class
		WHERE
		pzg.product_grade = '品种钢'
		OR pzg.product_grade = '高端产品'
		OR pzg.product_grade = '特色战略产品'
		AND pzg.status = '0'
		) pz ON settle. ID = pz. ID
		GROUP BY
		B.Variety
		) A
		JOIN (
		SELECT
		pz_name,
		SUM (MBL_YEAR) nmb
		FROM
		Crm_Resource_Allocation zyjh
		WHERE
		1 = 1
		GROUP BY
		pz_name
		) jh ON jh.pz_name = A.NAME
		<if test="name != null and name !=''">
			where name = #{name}
		</if>
	</select>
	<select id="typessum" resultType="map">
		SELECT
		SUM(jsl) jsl,
		SUM(pzgl) pzgl,
		sum(nmb) nmb
		FROM
		(
		SELECT
		B.VARIETY NAME,
		SUM (pz.fkimg) pzgl,
		ROUND (SUM(settle.fkimg), 2) jsl
		FROM
		Scm_Steel_Settle settle
		JOIN Scm_Sale_Order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN SCM_VARIETY_TO_PT_GP B ON sso.product_code = B.Product_Group
		AND sso.company_id = B.COMPANY_ID
		LEFT JOIN (
		SELECT
		settle. ID,
		settle.fkimg
		FROM
		scm_steel_settle settle
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN report_product_class_level pzg ON sso.company_id = pzg.company_id
		AND sso.product_type = pzg.product_class
		WHERE
		pzg.product_grade = '品种钢'
		OR pzg.product_grade = '高端产品'
		OR pzg.product_grade = '特色战略产品'
		AND pzg.status = '0'
		) pz ON settle. ID = pz. ID
		GROUP BY
		B.Variety
		) A
		JOIN (
		SELECT
		pz_name,
		SUM (MBL_YEAR) nmb
		FROM
		Crm_Resource_Allocation zyjh
		WHERE
		1 = 1
		GROUP BY
		pz_name
		) jh ON jh.pz_name = A.NAME
		<if test="name != null and name !=''">
			where name = #{name}
		</if>
	</select>

	<select id="Steelmillsplan" resultType="map">
		select
		cb.companyname,cb.jh,NVL(jk.xh, 0)*100 xh
		from   (SELECT
		cx.companyname,
		SUM(cr.MBL_YEAR) jh
		FROM
		CRM_RESOURCE_ALLOCATION cr
		RIGHT  JOIN
		(
		SELECT
		DECODE (
		settle.company_id,
		9580,
		'唐钢',
		9727,
		'邯钢',
		9193,
		'宣钢',
		9196,
		'承钢',
		1932,
		'舞钢',
		8110,
		'石钢',
		8493,
		'衡板',
		7778,
		'邯宝'
		) AS companyname,
		DATA . NAME,
		settle.company_id,
		SUM (settle.fkimg) AS fkimg,
		SUM (A .fkimg) AS pzgl,
		CASE
		WHEN SUM (settle.fkimg) / SUM (A .fkimg) IS NULL THEN
		'--'
		ELSE
		TO_CHAR (
		ROUND (
		SUM (settle.fkimg) / SUM (A .fkimg),
		2
		)
		)
		END AS bz
		FROM
		scm_steel_settle settle
		JOIN scm_delivery_detail detail ON settle.aubel = detail.order_no
		AND settle.aupos = detail.order_item
		JOIN crm_resource_data DATA ON DATA .full_name = detail.ext
		AND DATA . TYPE = 3
		AND DATA .parent_name IS NOT NULL
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		LEFT JOIN (
		SELECT
		settle. ID,
		settle.fkimg
		FROM
		scm_steel_settle settle
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN report_product_class_level pzg ON sso.company_id = pzg.company_id
		AND sso.product_type = pzg.product_class
		WHERE
		pzg.product_grade = '品种钢'
		OR pzg.product_grade = '高端产品'
		OR pzg.product_grade = '特色战略产品'
		AND pzg.status = '0'
		) A ON settle. ID = A . ID
		INNER JOIN scm_variety_to_pt_gp svtpg ON sso.product_code = svtpg.product_group
		AND sso.company_id = svtpg.company_id
		AND sso.order_type_describe NOT IN (
		SELECT DISTINCT
		cfd.data_name
		FROM
		crm_filter_data cfd
		WHERE
		cfd.data_type = '2'
		AND cfd.company_id = sso.company_id
		AND cfd.status = '0'
		)
		AND (
		sso.deleted IS NULL
		OR sso.deleted != 'X'
		)
		AND sso.sale_group NOT IN (
		SELECT
		sso.sale_group
		FROM
		crm_filter_data cfd
		WHERE
		cfd.company_id = sso.company_id
		AND cfd.data_type = 8
		AND cfd.status = 0
		)
		AND sso.saler_name NOT IN (
		SELECT
		T .data_name
		FROM
		crm_filter_data T
		WHERE
		T .data_type = '1'
		AND T .status = '0'
		AND T .company_id = sso.company_id
		)
		LEFT JOIN price_salebody_relation xsztdzb ON sso.company_id = xsztdzb.company_id
		AND sso.sale_group = xsztdzb.sale_body_des
		WHERE
		1 = 1
		GROUP BY
		settle.company_id,
		DATA . NAME
		ORDER BY
		company_id
		) cx
		ON cx.NAME = cr.CX_NAME
		<if test="name != null and name !=''">
			where cr.PZ_NAME = #{name}
		</if>
		GROUP BY  cx.companyname) cb
		LEFT JOIN (
		select
		CX_NAME,"SUM"(MBL_YEAR) xh
		from CRM_RESOURCE_ALLOCATION
		where FL_NAME = '现货'
		GROUP BY CX_NAME) jk
		on jk.CX_NAME = cb.companyname
		ORDER BY  decode(cb.companyname,
		'唐钢',
		'唐钢',
		'邯钢',
		'邯钢',
		'宣钢',
		'宣钢',
		'承钢',
		'承钢',
		'舞钢',
		'舞钢',
		'石钢',
		'石钢',
		'衡板',
		'衡板',
		'邯宝',
		'邯宝')
	</select>
	<select id="Steelmillssum" resultType="map">
		select
		NVL(SUM(cb.jh), 0)  jh,NVL( sum(jk.xh), 0) xh
		from   (SELECT
		cx.companyname,
		SUM(cr.MBL_YEAR) jh
		FROM
		CRM_RESOURCE_ALLOCATION cr
		RIGHT  JOIN
		(
		SELECT
		DECODE (
		settle.company_id,
		9580,
		'唐钢',
		9727,
		'邯钢',
		9193,
		'宣钢',
		9196,
		'承钢',
		1932,
		'舞钢',
		8110,
		'石钢',
		8493,
		'衡板',
		7778,
		'邯宝'
		) AS companyname,
		DATA . NAME,
		settle.company_id,
		SUM (settle.fkimg) AS fkimg,
		SUM (A .fkimg) AS pzgl,
		CASE
		WHEN SUM (settle.fkimg) / SUM (A .fkimg) IS NULL THEN
		'--'
		ELSE
		TO_CHAR (
		ROUND (
		SUM (settle.fkimg) / SUM (A .fkimg),
		2
		)
		)
		END AS bz
		FROM
		scm_steel_settle settle
		JOIN scm_delivery_detail detail ON settle.aubel = detail.order_no
		AND settle.aupos = detail.order_item
		JOIN crm_resource_data DATA ON DATA .full_name = detail.ext
		AND DATA . TYPE = 3
		AND DATA .parent_name IS NOT NULL
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		LEFT JOIN (
		SELECT
		settle. ID,
		settle.fkimg
		FROM
		scm_steel_settle settle
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN report_product_class_level pzg ON sso.company_id = pzg.company_id
		AND sso.product_type = pzg.product_class
		WHERE
		pzg.product_grade = '品种钢'
		OR pzg.product_grade = '高端产品'
		OR pzg.product_grade = '特色战略产品'
		AND pzg.status = '0'
		) A ON settle. ID = A . ID
		INNER JOIN scm_variety_to_pt_gp svtpg ON sso.product_code = svtpg.product_group
		AND sso.company_id = svtpg.company_id
		AND sso.order_type_describe NOT IN (
		SELECT DISTINCT
		cfd.data_name
		FROM
		crm_filter_data cfd
		WHERE
		cfd.data_type = '2'
		AND cfd.company_id = sso.company_id
		AND cfd.status = '0'
		)
		AND (
		sso.deleted IS NULL
		OR sso.deleted != 'X'
		)
		AND sso.sale_group NOT IN (
		SELECT
		sso.sale_group
		FROM
		crm_filter_data cfd
		WHERE
		cfd.company_id = sso.company_id
		AND cfd.data_type = 8
		AND cfd.status = 0
		)
		AND sso.saler_name NOT IN (
		SELECT
		T .data_name
		FROM
		crm_filter_data T
		WHERE
		T .data_type = '1'
		AND T .status = '0'
		AND T .company_id = sso.company_id
		)
		LEFT JOIN price_salebody_relation xsztdzb ON sso.company_id = xsztdzb.company_id
		AND sso.sale_group = xsztdzb.sale_body_des
		WHERE
		1 = 1
		GROUP BY
		settle.company_id,
		DATA . NAME
		ORDER BY
		company_id
		) cx
		ON cx.NAME = cr.CX_NAME
		<if test="name != null and name !=''">
			where cr.PZ_NAME = #{name}
		</if>
		GROUP BY  cx.companyname) cb
		LEFT JOIN (
		select
		CX_NAME,"SUM"(MBL_YEAR) xh
		from CRM_RESOURCE_ALLOCATION
		where FL_NAME = '现货'
		GROUP BY CX_NAME) jk
		on jk.CX_NAME = cb.companyname
	</select>

	<select id="Steellist" resultType="map">
		select
		a.companyname,a.pzgl,a.jsl, ROUND(b.jh/a.jsl,4)*100  bili
		from
		(
		SELECT
		fg.companyname,
		SUM (pz.fkimg) pzgl,
		ROUND (SUM(settle.fkimg), 2) jsl
		FROM
		Scm_Steel_Settle settle
		JOIN Scm_Sale_Order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		join
		(SELECT
		DECODE (
		settle.company_id,
		9580,
		'唐钢',
		9727,
		'邯钢',
		9193,
		'宣钢',
		9196,
		'承钢',
		1932,
		'舞钢',
		8110,
		'石钢',
		8493,
		'衡板',
		7778,
		'邯宝'
		) AS companyname,
		DATA . NAME,
		settle.company_id,
		SUM (settle.fkimg) AS fkimg,
		SUM (A .fkimg) AS pzgl,
		CASE
		WHEN SUM (settle.fkimg) / SUM (A .fkimg) IS NULL THEN
		'--'
		ELSE
		TO_CHAR (
		ROUND (
		SUM (settle.fkimg) / SUM (A .fkimg),
		2
		)
		)
		END AS bz
		FROM
		scm_steel_settle settle

		JOIN scm_delivery_detail detail ON settle.aubel = detail.order_no
		AND settle.aupos = detail.order_item
		JOIN crm_resource_data DATA ON DATA .full_name = detail.ext
		AND DATA . TYPE = 3
		AND DATA .parent_name IS NOT NULL

		join CRM_RESOURCE_ALLOCATION cra
		on cra.CX_NAME = DATA.NAME

		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		LEFT JOIN (
		SELECT
		settle. ID,
		settle.fkimg
		FROM
		scm_steel_settle settle
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN report_product_class_level pzg ON sso.company_id = pzg.company_id
		AND sso.product_type = pzg.product_class
		WHERE
		pzg.product_grade = '品种钢'
		OR pzg.product_grade = '高端产品'
		OR pzg.product_grade = '特色战略产品'
		AND pzg.status = '0'
		) A ON settle. ID = A . ID
		INNER JOIN scm_variety_to_pt_gp svtpg ON sso.product_code = svtpg.product_group
		AND sso.company_id = svtpg.company_id
		AND sso.order_type_describe NOT IN (
		SELECT DISTINCT
		cfd.data_name
		FROM
		crm_filter_data cfd
		WHERE
		cfd.data_type = '2'
		AND cfd.company_id = sso.company_id
		AND cfd.status = '0'
		)
		AND (
		sso.deleted IS NULL
		OR sso.deleted != 'X'
		)
		AND sso.sale_group NOT IN (
		SELECT
		sso.sale_group
		FROM
		crm_filter_data cfd
		WHERE
		cfd.company_id = sso.company_id
		AND cfd.data_type = 8
		AND cfd.status = 0
		)
		AND sso.saler_name NOT IN (
		SELECT
		T .data_name
		FROM
		crm_filter_data T
		WHERE
		T .data_type = '1'
		AND T .status = '0'
		AND T .company_id = sso.company_id
		)
		LEFT JOIN price_salebody_relation xsztdzb
		ON sso.company_id = xsztdzb.company_id
		AND sso.sale_group = xsztdzb.sale_body_des
		WHERE
		1=1
		<if test="name != null and name !=''">
			and cra.PZ_NAME = #{name}
		</if>
		GROUP BY
		settle.company_id,
		DATA . NAME
		ORDER BY
		company_id) fg
		on sso.company_id = fg.COMPANY_ID
		LEFT JOIN (
		SELECT
		settle. ID,
		settle.fkimg
		FROM
		scm_steel_settle settle
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN report_product_class_level pzg ON sso.company_id = pzg.company_id
		AND sso.product_type = pzg.product_class
		WHERE
		pzg.product_grade = '品种钢'
		OR pzg.product_grade = '高端产品'
		OR pzg.product_grade = '特色战略产品'
		AND pzg.status = '0'
		) pz ON settle. ID = pz. ID
		GROUP BY
		fg.companyname
		)  a
		join (SELECT
		cx.companyname,
		SUM(cr.MBL_YEAR) jh
		FROM
		CRM_RESOURCE_ALLOCATION cr
		RIGHT  JOIN
		(
		SELECT
		DECODE (
		settle.company_id,
		9580,
		'唐钢',
		9727,
		'邯钢',
		9193,
		'宣钢',
		9196,
		'承钢',
		1932,
		'舞钢',
		8110,
		'石钢',
		8493,
		'衡板',
		7778,
		'邯宝'
		) AS companyname,
		DATA . NAME,
		settle.company_id,
		SUM (settle.fkimg) AS fkimg,
		SUM (A .fkimg) AS pzgl,
		CASE
		WHEN SUM (settle.fkimg) / SUM (A .fkimg) IS NULL THEN
		'--'
		ELSE
		TO_CHAR (
		ROUND (
		SUM (settle.fkimg) / SUM (A .fkimg),
		2
		)
		)
		END AS bz
		FROM
		scm_steel_settle settle
		JOIN scm_delivery_detail detail ON settle.aubel = detail.order_no
		AND settle.aupos = detail.order_item
		JOIN crm_resource_data DATA ON DATA .full_name = detail.ext
		AND DATA . TYPE = 3
		AND DATA .parent_name IS NOT NULL
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		LEFT JOIN (
		SELECT
		settle. ID,
		settle.fkimg
		FROM
		scm_steel_settle settle
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN report_product_class_level pzg ON sso.company_id = pzg.company_id
		AND sso.product_type = pzg.product_class
		WHERE
		pzg.product_grade = '品种钢'
		OR pzg.product_grade = '高端产品'
		OR pzg.product_grade = '特色战略产品'
		AND pzg.status = '0'
		) A ON settle. ID = A . ID
		INNER JOIN scm_variety_to_pt_gp svtpg ON sso.product_code = svtpg.product_group
		AND sso.company_id = svtpg.company_id
		AND sso.order_type_describe NOT IN (
		SELECT DISTINCT
		cfd.data_name
		FROM
		crm_filter_data cfd
		WHERE
		cfd.data_type = '2'
		AND cfd.company_id = sso.company_id
		AND cfd.status = '0'
		)
		AND (
		sso.deleted IS NULL
		OR sso.deleted != 'X'
		)
		AND sso.sale_group NOT IN (
		SELECT
		sso.sale_group
		FROM
		crm_filter_data cfd
		WHERE
		cfd.company_id = sso.company_id
		AND cfd.data_type = 8
		AND cfd.status = 0
		)
		AND sso.saler_name NOT IN (
		SELECT
		T .data_name
		FROM
		crm_filter_data T
		WHERE
		T .data_type = '1'
		AND T .status = '0'
		AND T .company_id = sso.company_id
		)
		LEFT JOIN price_salebody_relation xsztdzb ON sso.company_id = xsztdzb.company_id
		AND sso.sale_group = xsztdzb.sale_body_des
		WHERE
		1 = 1
		GROUP BY
		settle.company_id,
		DATA . NAME
		ORDER BY
		company_id
		) cx
		ON cx.NAME = cr.CX_NAME
		GROUP BY  cx.companyname) b

		on b.companyname = a.companyname
	</select>
	<select id="Steelsum" resultType="map">
		select
		NVL(SUM(a.pzgl), 0) pzgl,NVL(SUM(a.jsl), 0) jsl,NVL(SUM(b.jh), 0)  jh
		from
		(
		SELECT
		fg.companyname,
		SUM (pz.fkimg) pzgl,
		ROUND (SUM(settle.fkimg), 2) jsl
		FROM
		Scm_Steel_Settle settle
		JOIN Scm_Sale_Order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		join
		(SELECT
		DECODE (
		settle.company_id,
		9580,
		'唐钢',
		9727,
		'邯钢',
		9193,
		'宣钢',
		9196,
		'承钢',
		1932,
		'舞钢',
		8110,
		'石钢',
		8493,
		'衡板',
		7778,
		'邯宝'
		) AS companyname,
		DATA . NAME,
		settle.company_id,
		SUM (settle.fkimg) AS fkimg,
		SUM (A .fkimg) AS pzgl,
		CASE
		WHEN SUM (settle.fkimg) / SUM (A .fkimg) IS NULL THEN
		'--'
		ELSE
		TO_CHAR (
		ROUND (
		SUM (settle.fkimg) / SUM (A .fkimg),
		2
		)
		)
		END AS bz
		FROM
		scm_steel_settle settle

		JOIN scm_delivery_detail detail ON settle.aubel = detail.order_no
		AND settle.aupos = detail.order_item
		JOIN crm_resource_data DATA ON DATA .full_name = detail.ext
		AND DATA . TYPE = 3
		AND DATA .parent_name IS NOT NULL

		join CRM_RESOURCE_ALLOCATION cra
		on cra.CX_NAME = DATA.NAME

		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		LEFT JOIN (
		SELECT
		settle. ID,
		settle.fkimg
		FROM
		scm_steel_settle settle
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN report_product_class_level pzg ON sso.company_id = pzg.company_id
		AND sso.product_type = pzg.product_class
		WHERE
		pzg.product_grade = '品种钢'
		OR pzg.product_grade = '高端产品'
		OR pzg.product_grade = '特色战略产品'
		AND pzg.status = '0'
		) A ON settle. ID = A . ID
		INNER JOIN scm_variety_to_pt_gp svtpg ON sso.product_code = svtpg.product_group
		AND sso.company_id = svtpg.company_id
		AND sso.order_type_describe NOT IN (
		SELECT DISTINCT
		cfd.data_name
		FROM
		crm_filter_data cfd
		WHERE
		cfd.data_type = '2'
		AND cfd.company_id = sso.company_id
		AND cfd.status = '0'
		)
		AND (
		sso.deleted IS NULL
		OR sso.deleted != 'X'
		)
		AND sso.sale_group NOT IN (
		SELECT
		sso.sale_group
		FROM
		crm_filter_data cfd
		WHERE
		cfd.company_id = sso.company_id
		AND cfd.data_type = 8
		AND cfd.status = 0
		)
		AND sso.saler_name NOT IN (
		SELECT
		T .data_name
		FROM
		crm_filter_data T
		WHERE
		T .data_type = '1'
		AND T .status = '0'
		AND T .company_id = sso.company_id
		)
		LEFT JOIN price_salebody_relation xsztdzb
		ON sso.company_id = xsztdzb.company_id
		AND sso.sale_group = xsztdzb.sale_body_des
		WHERE
		1=1
		<if test="name != null and name !=''">
			and cra.PZ_NAME = #{name}
		</if>
		GROUP BY
		settle.company_id,
		DATA . NAME
		ORDER BY
		company_id) fg
		on sso.company_id = fg.COMPANY_ID
		LEFT JOIN (
		SELECT
		settle. ID,
		settle.fkimg
		FROM
		scm_steel_settle settle
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN report_product_class_level pzg ON sso.company_id = pzg.company_id
		AND sso.product_type = pzg.product_class
		WHERE
		pzg.product_grade = '品种钢'
		OR pzg.product_grade = '高端产品'
		OR pzg.product_grade = '特色战略产品'
		AND pzg.status = '0'
		) pz ON settle. ID = pz. ID
		GROUP BY
		fg.companyname
		)  a
		join (SELECT
		cx.companyname,
		SUM(cr.MBL_YEAR) jh
		FROM
		CRM_RESOURCE_ALLOCATION cr
		RIGHT  JOIN
		(
		SELECT
		DECODE (
		settle.company_id,
		9580,
		'唐钢',
		9727,
		'邯钢',
		9193,
		'宣钢',
		9196,
		'承钢',
		1932,
		'舞钢',
		8110,
		'石钢',
		8493,
		'衡板',
		7778,
		'邯宝'
		) AS companyname,
		DATA . NAME,
		settle.company_id,
		SUM (settle.fkimg) AS fkimg,
		SUM (A .fkimg) AS pzgl,
		CASE
		WHEN SUM (settle.fkimg) / SUM (A .fkimg) IS NULL THEN
		'--'
		ELSE
		TO_CHAR (
		ROUND (
		SUM (settle.fkimg) / SUM (A .fkimg),
		2
		)
		)
		END AS bz
		FROM
		scm_steel_settle settle
		JOIN scm_delivery_detail detail ON settle.aubel = detail.order_no
		AND settle.aupos = detail.order_item
		JOIN crm_resource_data DATA ON DATA .full_name = detail.ext
		AND DATA . TYPE = 3
		AND DATA .parent_name IS NOT NULL
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		LEFT JOIN (
		SELECT
		settle. ID,
		settle.fkimg
		FROM
		scm_steel_settle settle
		JOIN scm_sale_order sso ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id
		JOIN report_product_class_level pzg ON sso.company_id = pzg.company_id
		AND sso.product_type = pzg.product_class
		WHERE
		pzg.product_grade = '品种钢'
		OR pzg.product_grade = '高端产品'
		OR pzg.product_grade = '特色战略产品'
		AND pzg.status = '0'
		) A ON settle. ID = A . ID
		INNER JOIN scm_variety_to_pt_gp svtpg ON sso.product_code = svtpg.product_group
		AND sso.company_id = svtpg.company_id
		AND sso.order_type_describe NOT IN (
		SELECT DISTINCT
		cfd.data_name
		FROM
		crm_filter_data cfd
		WHERE
		cfd.data_type = '2'
		AND cfd.company_id = sso.company_id
		AND cfd.status = '0'
		)
		AND (
		sso.deleted IS NULL
		OR sso.deleted != 'X'
		)
		AND sso.sale_group NOT IN (
		SELECT
		sso.sale_group
		FROM
		crm_filter_data cfd
		WHERE
		cfd.company_id = sso.company_id
		AND cfd.data_type = 8
		AND cfd.status = 0
		)
		AND sso.saler_name NOT IN (
		SELECT
		T .data_name
		FROM
		crm_filter_data T
		WHERE
		T .data_type = '1'
		AND T .status = '0'
		AND T .company_id = sso.company_id
		)
		LEFT JOIN price_salebody_relation xsztdzb ON sso.company_id = xsztdzb.company_id
		AND sso.sale_group = xsztdzb.sale_body_des
		WHERE
		1 = 1
		GROUP BY
		settle.company_id,
		DATA . NAME
		ORDER BY
		company_id
		) cx
		ON cx.NAME = cr.CX_NAME
		GROUP BY  cx.companyname) b

		on b.companyname = a.companyname
	</select>

	<select id="salesmainsum" resultType="map">
		select
		"SUM"(zyfkimg) zyfkimg
		from
		(SELECT settle.company_id,
		xsztdzb.sale_body,
		SUM(settle.fkimg) AS zyfkimg

		FROM scm_steel_settle settle

		LEFT JOIN scm_delivery_detail detail
		ON settle.aubel = detail.order_no
		AND settle.aupos = detail.order_item

		LEFT JOIN crm_resource_data DATA
		ON DATA.full_name = detail.ext
		AND DATA.TYPE = 3
		AND DATA.parent_name IS NOT NULL

		JOIN CRM_RESOURCE_ALLOCATION cra
		ON data.NAME = cra.CX_NAME

		LEFT JOIN scm_sale_order sso
		ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id

		LEFT JOIN scm_variety_to_pt_gp svtpg
		ON sso.product_code = svtpg.product_group
		AND sso.company_id = svtpg.company_id
		AND sso.order_type_describe NOT IN

		(SELECT DISTINCT cfd.data_name
		FROM crm_filter_data cfd
		WHERE cfd.data_type = '2'
		AND cfd.company_id = sso.company_id
		AND cfd.status = '0')
		AND (sso.deleted IS NULL OR sso.deleted != 'X')
		AND sso.sale_group NOT IN
		(SELECT sso.sale_group
		FROM crm_filter_data cfd
		WHERE cfd.company_id = sso.company_id
		AND cfd.data_type = 8
		AND cfd.status = 0)
		AND sso.saler_name NOT IN
		(SELECT t.data_name
		FROM crm_filter_data t
		WHERE t.data_type = '1'
		AND t.status = '0'
		AND t.company_id = sso.company_id)
		JOIN price_salebody_relation xsztdzb
		ON sso.company_id = xsztdzb.company_id
		AND sso.sale_group = xsztdzb.sale_body_des
		WHERE xsztdzb.sale_body = '分公司'
		or xsztdzb.sale_body = '销售公司资'
		or xsztdzb.sale_body = '出口'
		or xsztdzb.sale_body = '技术中心/市场部'
		<if test="name != null and name !=''">
			AND  cra.PZ_NAME = #{name}
		</if>

		GROUP BY settle.company_id, xsztdzb.sale_body
		ORDER BY company_id
		)
	</select>
	<select id="salesmain" resultType="map">
		SELECT
		settle.company_id,
		xsztdzb.sale_body companyname,
		SUM(settle.fkimg) AS zyfkimg

		FROM scm_steel_settle settle

		LEFT JOIN scm_delivery_detail detail
		ON settle.aubel = detail.order_no
		AND settle.aupos = detail.order_item

		LEFT JOIN crm_resource_data DATA
		ON DATA.full_name = detail.ext
		AND DATA.TYPE = 3
		AND DATA.parent_name IS NOT NULL

		JOIN CRM_RESOURCE_ALLOCATION cra
		ON data.NAME = cra.CX_NAME

		LEFT JOIN scm_sale_order sso
		ON sso.order_no = settle.aubel
		AND sso.company_id = settle.company_id

		LEFT JOIN scm_variety_to_pt_gp svtpg
		ON sso.product_code = svtpg.product_group
		AND sso.company_id = svtpg.company_id
		AND sso.order_type_describe NOT IN

		(SELECT DISTINCT cfd.data_name
		FROM crm_filter_data cfd
		WHERE cfd.data_type = '2'
		AND cfd.company_id = sso.company_id
		AND cfd.status = '0')
		AND (sso.deleted IS NULL OR sso.deleted != 'X')
		AND sso.sale_group NOT IN
		(SELECT sso.sale_group
		FROM crm_filter_data cfd
		WHERE cfd.company_id = sso.company_id
		AND cfd.data_type = 8
		AND cfd.status = 0)
		AND sso.saler_name NOT IN
		(SELECT t.data_name
		FROM crm_filter_data t
		WHERE t.data_type = '1'
		AND t.status = '0'
		AND t.company_id = sso.company_id)
		JOIN price_salebody_relation xsztdzb
		ON sso.company_id = xsztdzb.company_id
		AND sso.sale_group = xsztdzb.sale_body_des
		WHERE xsztdzb.sale_body = '分公司'
		or xsztdzb.sale_body = '销售公司资'
		or xsztdzb.sale_body = '出口'
		or xsztdzb.sale_body = '技术中心/市场部'

		<if test="name != null and name !=''">
			AND  cra.PZ_NAME = #{name}
		</if>
		GROUP BY settle.company_id, xsztdzb.sale_body
		ORDER BY company_id
	</select>

</mapper>
