<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hbis.erp.modular.system.mapper.TargetQuantityManagementMapper">

    <sql id="Base_Column_List">
        TQ.TARGET_QUANTITY_MANAGEMENT_ID AS ID,TQ."YEAR",AM.ACCOUNTABILITY_UNIT_NAME AS "NAME" ,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER
    </sql>
    <select id="selTargetManagement" parameterType="String" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from SCM_TARGET_QUANTITY_MANAGEMENT TQ
        LEFT JOIN
        SCM_ACCOUNTABILITY_UNIT_MANAGE AM
        ON
        AM.ACCOUNTABILITY_UNIT_CODE = TQ.RESPONSIBILITY_UNIT
        where TQ.DELETESTATUS = '0'
        AND AM.DELETESTATUS = '0'
        <if test="targetname != null and targetname !=''">

            and RESPONSIBILITY_UNIT like CONCAT(CONCAT('%',#{targetname}),'%')

        </if>
        <if test="year != null and year !=''">

            and YEAR like CONCAT(CONCAT('%',#{year}),'%')

        </if>
    </select>
	<select id="getlist" resultType="map">
		select sa.ACCOUNTABILITY_UNIT_CODE code,sa.ACCOUNTABILITY_UNIT_NAME NAME
		from SCM_ACCOUNTABILITY_UNIT_MANAGE  sa
		WHERE sa.DELETESTATUS = '0'
	</select>
	<select id="selectscaaccnuitList" resultType="map">
        select ACCOUNTABILITY_UNIT_ID AS ID,ACCOUNTABILITY_UNIT_CODE AS CODE,ACCOUNTABILITY_UNIT_NAME AS "NAME"
        from SCM_ACCOUNTABILITY_UNIT_MANAGE
        where DELETESTATUS = '0'
    </select>
	<select id="theList" resultType="map">
        select RESPONSIBILITY_UNIT AS CODE
        from SCM_TARGET_QUANTITY_MANAGEMENT
        where DELETESTATUS = '0' ORDER BY RESPONSIBILITY_UNIT
    </select>

	<!--三-->
	<select id="typeselect" resultType="map">
		SELECT  a.pz_name name,a.jsl,"NVL"(b.pzgl, 0) pzgl,"ROUND"(a.nmb/jsl, 4)*100  bili from
		(SELECT pz_NAme,"SUM"(jh)/1000 jsl ,"SUM"(nmb)/1000 nmb  from
		(SELECT CRA.pz_NAme ,"SUM"(CRA.JAN_MONTH) jh,"SUM"(CRA.MBL_YEAR) nmb  from CRM_RESOURCE_ALLOCATION cra
		where cra.STATUS = '0' <if test="name != null and name !=''">
		and	 CRA.pz_NAme = #{name}
	</if>  GROUP BY CRA.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.feb_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb   from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0'  <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.MAR_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.APR_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>  GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.MAY_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.JUN_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.JUL_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>  GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.AUG_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.SEP_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>  GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.OCT_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0'  <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>  GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.NOV_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>  GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.DEC_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme )
		GROUP BY pz_NAme ) a
		LEFT JOIN
		(SELECT variety , "SUM"(pzgl) pzgl from
		(select
		decode(sss.COMPANY_ID,
		9580,
		'唐钢',
		9727,
		'邯钢',
		9193,
		'宣钢',
		9196,
		'承钢',
		1932,
		'舞钢',
		8110,
		'石钢',
		8493,
		'衡板',
		7778,
		'邯宝') AS companyname,svtp.variety,"SUM"(sss.FKIMG) pzgl from
		SCM_STEEL_SETTLE sss
		left join scm_sale_order sso
		on SSS.company_id = sso.company_id
		and sss.aubel = sso.order_no
		and sss.aupos = sso.order_row
		left join (select a.* from price_salebody_relation a where a.is_delete = 0 ) xsztdzb
		ON sso.company_id = xsztdzb.company_id
		AND sso.sale_body = xsztdzb.sale_body_des
		inner join scm_variety_to_pt_gp svtp
		on sso.company_id = svtp.company_id
		and sso.product_code = svtp.product_group

		left join
		(SELECT a.company_id,
		a.product_class,
		a.product_line_class,
		a.product_class_crude,
		a.product_class_fine,
		a.product_grade
		FROM REPORT_PRODUCT_CLASS_LEVEL a
		where a.status = '0'
		union all
		SELECT b.company_id,
		b.second_code,
		b.product_line_class,
		b.product_class_crude,
		b.product_class_fine,
		b.product_grade
		FROM REPORT_PRODUCT_CLASS_LEVEL b
		where b.status = '0') rpcl
		on sso.company_id = rpcl.company_id
		and sso.product_type = rpcl.product_class
		where
		rpcl.product_grade = '品种钢' OR rpcl.product_grade = '高端产品' OR
		rpcl.product_grade = '特色战略产品'

		GROUP BY sss.company_id ,svtp.variety)
		GROUP BY variety) b
		on  b.variety = a.pz_name

	</select>
	<select id="typessum" resultType="map">
		select
		NVL(sum(jsl),0) jsl,
		NVL(SUM(pzgl)/1000,0) pzgl
		from  (SELECT  a.pz_name name,a.jsl,"NVL"(b.pzgl, 0) pzgl,"ROUND"(a.nmb/jsl, 4)*100  bili from
		(SELECT pz_NAme,"SUM"(jh)/1000 jsl ,"SUM"(nmb)/1000 nmb  from
		(SELECT CRA.pz_NAme ,"SUM"(CRA.JAN_MONTH) jh,"SUM"(CRA.MBL_YEAR) nmb  from CRM_RESOURCE_ALLOCATION cra
		where cra.STATUS = '0' <if test="name != null and name !=''">
		and	 CRA.pz_NAme = #{name}
	</if>  GROUP BY CRA.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.feb_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb   from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0'  <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.MAR_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.APR_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>  GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.MAY_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.JUN_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.JUL_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>  GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.AUG_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.SEP_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>  GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.OCT_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0'  <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>  GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.NOV_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>  GROUP BY CRAs.pz_NAme
		UNION ALL
		SELECT CRAs.pz_NAme ,"SUM"(cras.DEC_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and	 CRAs.pz_NAme = #{name}
	</if>   GROUP BY CRAs.pz_NAme )
		GROUP BY pz_NAme ) a
		LEFT JOIN
		(SELECT variety , "SUM"(pzgl) pzgl from
		(select
		decode(sss.COMPANY_ID,
		9580,
		'唐钢',
		9727,
		'邯钢',
		9193,
		'宣钢',
		9196,
		'承钢',
		1932,
		'舞钢',
		8110,
		'石钢',
		8493,
		'衡板',
		7778,
		'邯宝') AS companyname,svtp.variety,"SUM"(sss.FKIMG) pzgl from
		SCM_STEEL_SETTLE sss
		left join scm_sale_order sso
		on SSS.company_id = sso.company_id
		and sss.aubel = sso.order_no
		and sss.aupos = sso.order_row
		left join (select a.* from price_salebody_relation a where a.is_delete = 0 ) xsztdzb
		ON sso.company_id = xsztdzb.company_id
		AND sso.sale_body = xsztdzb.sale_body_des
		inner join scm_variety_to_pt_gp svtp
		on sso.company_id = svtp.company_id
		and sso.product_code = svtp.product_group

		left join
		(SELECT a.company_id,
		a.product_class,
		a.product_line_class,
		a.product_class_crude,
		a.product_class_fine,
		a.product_grade
		FROM REPORT_PRODUCT_CLASS_LEVEL a
		where a.status = '0'
		union all
		SELECT b.company_id,
		b.second_code,
		b.product_line_class,
		b.product_class_crude,
		b.product_class_fine,
		b.product_grade
		FROM REPORT_PRODUCT_CLASS_LEVEL b
		where b.status = '0') rpcl
		on sso.company_id = rpcl.company_id
		and sso.product_type = rpcl.product_class
		where
		rpcl.product_grade = '品种钢' OR rpcl.product_grade = '高端产品' OR
		rpcl.product_grade = '特色战略产品'

		GROUP BY sss.company_id ,svtp.variety)
		GROUP BY variety) b
		on  b.variety = a.pz_name)

	</select>

	<select id="Steelmillsplan" resultType="map">
		SELECT "DECODE"(w.COMPANY_ID,  9580,
              '唐钢',
              9727,
              '邯钢',
              9193,
              '宣钢',
              9196,
              '承钢',
              1932,
              '舞钢',
              8110,
              '石钢',
              8493,
              '衡板',
              7778,
              '邯宝') AS companyname,
								"SUM"(q.jh) jh,
								"SUM"(q.xh) xh
 FROM

 (SELECT * from  (SELECT c.COMPANYNAME ,c.ZYFKIMG xh,a.jh from
		(SELECT CX_NAME,"SUM"(jh)/1000 jh from
		(SELECT CRA.CX_NAME ,"SUM"(CRA.JAN_MONTH)

jh from CRM_RESOURCE_ALLOCATION cra
		where cra.STATUS = '0' <if test="name != null and name !=''">
		and  CRA.PZ_NAME =  #{name}
	</if> GROUP BY

CRA.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.feb_MONTH)

jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if>  GROUP BY

CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.MAR_MONTH)

jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if>  GROUP BY

CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.APR_MONTH)

jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.MAY_MONTH)

jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.JUN_MONTH)

jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0'  <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.JUL_MONTH)

jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.AUG_MONTH)

jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if>  GROUP BY

CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.SEP_MONTH)

jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if>  GROUP BY

CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.OCT_MONTH)

jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if>  GROUP BY

CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.NOV_MONTH)

jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.DEC_MONTH)

jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

CRAs.CX_NAME )
		GROUP BY CX_NAME) a
		LEFT JOIN
(SELECT CRA.CX_NAME

companyname,NVL("SUM"(CRA.MBL_YEAR),0) zyfkimg from

CRM_RESOURCE_ALLOCATION CRA
		where CRA.STaTUS = '0'
		AND CRA.FL_NAME = '现货'
		<if test="name != null and name !=''">
			and  CRA.PZ_NAME =  #{name}
		</if>
		GROUP BY CRA.CX_NAME)c
		on  c.COMPANYNAME = a.cx_name) x) q
LEFT JOIN
(SELECT GP.COMPANY_ID,c.companyname from
(SELECT CRA.CX_NAME

		companyname,NVL("SUM"(CRA.MBL_YEAR),0) zyfkimg ,PZ_name from

		CRM_RESOURCE_ALLOCATION CRA
				where CRA.STaTUS = '0'
				<if test="name != null and name !=''">
					and  CRA.PZ_NAME =  #{name}
				</if>
				AND CRA.FL_NAME = '现货'
				GROUP BY CRA.CX_NAME,PZ_name)c

		LEFT JOIN SCM_VARIETY_TO_PT_GP gp
		on gp.variety = c.PZ_name
		GROUP BY GP.COMPANY_ID,c.companyname) w
on w.COMPANYNAME = q.COMPANYNAME
WHERE q.COMPANYNAME is not null
GROUP BY w.COMPANY_ID
 ORDER BY "DECODE"(companyname,'唐钢',1,
              '邯钢',2,
              '宣钢',3,
              '承钢',4,
              '舞钢',5,
              '石钢',6,
              '衡板',7,
              '邯宝',8 )
	</select>
	<select id="Steelmillssum" resultType="map">

		SELECT "SUM"(jh) jh ,"SUM"(xh) xh from (
		SELECT "DECODE"(w.COMPANY_ID,  9580,
		'唐钢',
		9727,
		'邯钢',
		9193,
		'宣钢',
		9196,
		'承钢',
		1932,
		'舞钢',
		8110,
		'石钢',
		8493,
		'衡板',
		7778,
		'邯宝') AS companyname,
		"SUM"(q.jh) jh,
		"SUM"(q.xh) xh
		FROM

		(SELECT * from  (SELECT c.COMPANYNAME ,c.ZYFKIMG xh,a.jh from
		(SELECT CX_NAME,"SUM"(jh)/1000 jh from
		(SELECT CRA.CX_NAME ,"SUM"(CRA.JAN_MONTH)

		jh from CRM_RESOURCE_ALLOCATION cra
		where cra.STATUS = '0' <if test="name != null and name !=''">
		and  CRA.PZ_NAME =  #{name}
	</if> GROUP BY

		CRA.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.feb_MONTH)

		jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if>  GROUP BY

		CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.MAR_MONTH)

		jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if>  GROUP BY

		CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.APR_MONTH)

		jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

		CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.MAY_MONTH)

		jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

		CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.JUN_MONTH)

		jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0'  <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

		CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.JUL_MONTH)

		jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

		CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.AUG_MONTH)

		jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if>  GROUP BY

		CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.SEP_MONTH)

		jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if>  GROUP BY

		CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.OCT_MONTH)

		jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if>  GROUP BY

		CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.NOV_MONTH)

		jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

		CRAs.CX_NAME
		UNION ALL
		SELECT CRAs.CX_NAME ,"SUM"(cras.DEC_MONTH)

		jh  from CRM_RESOURCE_ALLOCATION cras
		where cras.STATUS = '0' <if test="name != null and name !=''">
		and  CRAs.PZ_NAME =  #{name}
	</if> GROUP BY

		CRAs.CX_NAME )
		GROUP BY CX_NAME) a
		LEFT JOIN
		(SELECT CRA.CX_NAME

		companyname,NVL("SUM"(CRA.MBL_YEAR),0) zyfkimg from

		CRM_RESOURCE_ALLOCATION CRA
		where CRA.STaTUS = '0'
		AND CRA.FL_NAME = '现货'
		<if test="name != null and name !=''">
			and  CRA.PZ_NAME =  #{name}
		</if>
		GROUP BY CRA.CX_NAME)c
		on  c.COMPANYNAME = a.cx_name) x) q
		LEFT JOIN
		(SELECT GP.COMPANY_ID,c.companyname from
		(SELECT CRA.CX_NAME

		companyname,NVL("SUM"(CRA.MBL_YEAR),0) zyfkimg ,PZ_name from

		CRM_RESOURCE_ALLOCATION CRA
		where CRA.STaTUS = '0'
		<if test="name != null and name !=''">
			and  CRA.PZ_NAME =  #{name}
		</if>
		AND CRA.FL_NAME = '现货'
		GROUP BY CRA.CX_NAME,PZ_name)c

		LEFT JOIN SCM_VARIETY_TO_PT_GP gp
		on gp.variety = c.PZ_name
		GROUP BY GP.COMPANY_ID,c.companyname) w
		on w.COMPANYNAME = q.COMPANYNAME
		WHERE q.COMPANYNAME is not null
		GROUP BY w.COMPANY_ID
		ORDER BY "DECODE"(companyname,'唐钢',1,
		'邯钢',2,
		'宣钢',3,
		'承钢',4,
		'舞钢',5,
		'石钢',6,
		'衡板',7,
		'邯宝',8 )
		)
	</select>
	<!--四-->
	<select id="Steellist" resultType="map">
				SELECT x.* ,"ROUND"(x.nmb/x.jsl*100, 4) bili from (
		SELECT SUM(a.jsl) jsl,b.companyname,"SUM"(b.pzgl)/1000 pzgl,"SUM"(a.nmb)  nmb from

		(SELECT pz_NAme,"SUM"(jh)/1000 jsl ,"SUM"(nmb)/1000 nmb  from
				(SELECT CRA.pz_NAme ,"SUM"(CRA.JAN_MONTH) jh,"SUM"(CRA.MBL_YEAR) nmb  from CRM_RESOURCE_ALLOCATION cra
				where cra.STATUS = '0' <if test="name != null and name !=''">
		and CRA.PZ_NAME =  #{name}
	</if>  	 GROUP BY CRA.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.feb_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb   from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>   	 GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.MAR_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb  from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>  	  GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.APR_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if> 	 GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.MAY_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if> 	   GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.JUN_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if> 	  GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.JUL_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if> 	 GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.AUG_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if> 	   GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.SEP_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if> 	  GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.OCT_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0'  <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>  	  GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.NOV_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if> 	  GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.DEC_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if> 	   GROUP BY CRAs.pz_NAme )
				GROUP BY pz_NAme) a

		LEFT JOIN (select
		decode(sss.COMPANY_ID,
					  9580,
					  '唐钢',
					  9727,
					  '邯钢',
					  9193,
					  '宣钢',
					  9196,
					  '承钢',
					  1932,
					  '舞钢',
					  8110,
					  '石钢',
					  8493,
					  '衡板',
					  7778,
					  '邯宝') AS companyname,svtp.variety,"SUM"(sss.FKIMG) pzgl from
		SCM_STEEL_SETTLE sss
		left join scm_sale_order sso
					on SSS.company_id = sso.company_id
				   and sss.aubel = sso.order_no
				   and sss.aupos = sso.order_row
				 left join (select a.* from price_salebody_relation a where a.is_delete = 0 ) xsztdzb
					ON sso.company_id = xsztdzb.company_id
				   AND sso.sale_body = xsztdzb.sale_body_des
						inner join scm_variety_to_pt_gp svtp
					on sso.company_id = svtp.company_id
				   and sso.product_code = svtp.product_group
								left join
								(SELECT a.company_id,
								   a.product_class,
								   a.product_line_class,
								   a.product_class_crude,
								   a.product_class_fine,
								   a.product_grade
							  FROM REPORT_PRODUCT_CLASS_LEVEL a
							 where a.status = '0'
							union all
							SELECT b.company_id,
								   b.second_code,
								   b.product_line_class,
								   b.product_class_crude,
								   b.product_class_fine,
								   b.product_grade
							  FROM REPORT_PRODUCT_CLASS_LEVEL b
							 where b.status = '0') rpcl
					on sso.company_id = rpcl.company_id
				   and sso.product_type = rpcl.product_class
									where
						rpcl.product_grade = '品种钢' OR rpcl.product_grade = '高端产品' OR
								rpcl.product_grade = '特色战略产品'
		GROUP BY sss.company_id ,svtp.variety) b
		on a.PZ_name = b.variety
		WHERE b.companyname is not null
		GROUP BY b.companyname
		) x

	</select>
	<select id="Steelsum" resultType="map">
		select
  "SUM"(jsl) jsl , "SUM"(pzgl) pzgl,"SUM"(nmb) jh
from
(SELECT x.* ,"ROUND"(x.nmb/x.jsl*100, 4) bili from (
		SELECT SUM(a.jsl) jsl,b.companyname,"SUM"(b.pzgl)/1000 pzgl,"SUM"(a.nmb)  nmb from

		(SELECT pz_NAme,"SUM"(jh)/1000 jsl ,"SUM"(nmb)/1000 nmb  from
				(SELECT CRA.pz_NAme ,"SUM"(CRA.JAN_MONTH) jh,"SUM"(CRA.MBL_YEAR) nmb  from CRM_RESOURCE_ALLOCATION cra
				where cra.STATUS = '0' <if test="name != null and name !=''">
		and CRA.PZ_NAME =  #{name}
	</if> 	 GROUP BY CRA.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.feb_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb   from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0'
		<if test="name != null and name !=''">
			and CRAs.PZ_NAME =  #{name}
		</if>GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.MAR_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb  from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0'  <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>	  GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.APR_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>	 GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.MAY_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0'	<if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>   GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.JUN_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>	  GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.JUL_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>	 GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.AUG_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>	   GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.SEP_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>	  GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.OCT_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0'   <if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>	  GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.NOV_MONTH) jh  ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0'	<if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>  GROUP BY CRAs.pz_NAme
				UNION ALL
				SELECT CRAs.pz_NAme ,"SUM"(cras.DEC_MONTH) jh ,"SUM"(CRAs.MBL_YEAR) nmb from CRM_RESOURCE_ALLOCATION cras
				where cras.STATUS = '0' 	<if test="name != null and name !=''">
		and CRAs.PZ_NAME =  #{name}
	</if>   GROUP BY CRAs.pz_NAme )
				GROUP BY pz_NAme) a

		LEFT JOIN (select
		decode(sss.COMPANY_ID,
					  9580,
					  '唐钢',
					  9727,
					  '邯钢',
					  9193,
					  '宣钢',
					  9196,
					  '承钢',
					  1932,
					  '舞钢',
					  8110,
					  '石钢',
					  8493,
					  '衡板',
					  7778,
					  '邯宝') AS companyname,svtp.variety,"SUM"(sss.FKIMG) pzgl from
		SCM_STEEL_SETTLE sss
		left join scm_sale_order sso
					on SSS.company_id = sso.company_id
				   and sss.aubel = sso.order_no
				   and sss.aupos = sso.order_row
				 left join (select a.* from price_salebody_relation a where a.is_delete = 0 ) xsztdzb
					ON sso.company_id = xsztdzb.company_id
				   AND sso.sale_body = xsztdzb.sale_body_des
						inner join scm_variety_to_pt_gp svtp
					on sso.company_id = svtp.company_id
				   and sso.product_code = svtp.product_group
								left join
								(SELECT a.company_id,
								   a.product_class,
								   a.product_line_class,
								   a.product_class_crude,
								   a.product_class_fine,
								   a.product_grade
							  FROM REPORT_PRODUCT_CLASS_LEVEL a
							 where a.status = '0'
							union all
							SELECT b.company_id,
								   b.second_code,
								   b.product_line_class,
								   b.product_class_crude,
								   b.product_class_fine,
								   b.product_grade
							  FROM REPORT_PRODUCT_CLASS_LEVEL b
							 where b.status = '0') rpcl
					on sso.company_id = rpcl.company_id
				   and sso.product_type = rpcl.product_class
									where
						rpcl.product_grade = '品种钢' OR rpcl.product_grade = '高端产品' OR
								rpcl.product_grade = '特色战略产品'
		GROUP BY sss.company_id ,svtp.variety) b
		on a.PZ_name = b.variety
		WHERE b.companyname is not null
		GROUP BY b.companyname
		) x  )
	</select>

	<select id="salesmainsum" resultType="map">
				SELECT  sum(zyfkimg) zyfkimg from

		(SELECT CRA.FL_NAME companyname,NVL("SUM"(CRA.MBL_YEAR),0) zyfkimg from CRM_RESOURCE_ALLOCATION CRA
		where CRA.STaTUS = '0'
		AND CRA.FL_NAME = '出口' or
		CRA.FL_NAME = '销售总公司' or
		CRA.FL_NAME = '技术中心、事业部' or
		 CRA.FL_NAME = '内贸'
		<if test="name != null and name !=''">
			and  CRA.PZ_NAME =  #{name}
		</if>
		GROUP BY CRA.FL_NAME)
	</select>
	<select id="salesmain" resultType="map">
					SELECT CRA.FL_NAME companyname,NVL("SUM"(CRA.MBL_YEAR),0) zyfkimg from CRM_RESOURCE_ALLOCATION CRA
			where CRA.STaTUS = '0'
			AND CRA.FL_NAME = '出口' or
			CRA.FL_NAME = '销售总公司' or
			CRA.FL_NAME = '技术中心、事业部' or
			 CRA.FL_NAME = '内贸'
		<if test="name != null and name !=''">
			and  CRA.PZ_NAME =  #{name}
		</if>

			GROUP BY CRA.FL_NAME
	</select>

</mapper>
